/*--- checkout steps --*/
.opc-progress-bar-item._active:before,.opc-progress-bar-item._active>span:before,.opc-progress-bar-item._active>span:after,.opc-progress-bar-item:last-child:before,.opc-progress-bar-item>span:before, .opc-progress-bar-item>span:after{
	display: none !important;
}
#checkout .opc-progress-bar
{
	margin: 86px 0 50px;
}
.opc-progress-bar .opc-progress-bar-item>span,.opc-progress-bar .opc-progress-bar-item._active>span
{
	color: #4d4d4d !important;
    font-size: 16px;
    font-family: 'Futura Bk BT Medium';
    font-weight: normal;
    line-height: 100%;
    display: inline-block;
    padding-top: 0;
}
.opc-progress-bar .opc-progress-bar-item>span{
	color: #9E9E9E;
	font-family: 'Futura Bk BT';
}
.opc-progress-bar .opc-progress-bar-item{
	width:auto;
    position: relative;
    padding-right: 40px;	
}
.opc-progress-bar .opc-progress-bar-item._active:after{
    content: '\f105';
    font-family: 'fontAwesome';
    color: #4d4d4d;
    font-size: 20px;
    display: inline-block;
    position: absolute;
    top: -5px;
    right: 18px;
}
#checkout .opc-wrapper .step-title{
	color: #4d4d4d;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    font-size: 12px;
    font-family: 'Futura Bk BT Medium';	
    border-bottom: 0;
    margin-bottom: 0px;
}
#checkout .opc-wrapper .shipping-address-item.selected-item,#checkout .opc-wrapper .shipping-address-item.not-selected-item{
	border-color: #4D4D4D;
    background: #FAFAFA;
    margin: 8px 40px 40px 0px;
    padding: 23px 0px 20px 50px;
    height: 144px;
    border-width: 1px;
    color: #4d4d4d;
    width: 216px;
    line-height: 140%;
    font-size: 11px;
}
#checkout .opc-wrapper .shipping-address-item.not-selected-item{
	background: #fff;	
	border-color: #757575;
}
#checkout .opc-wrapper .shipping-address-item.selected-item:after{
	    content: '';
	    width: 18px;
	    height: 18px;
	    left: 19px;
	    top: 22px;
	    border: 5px solid #4D4D4D;
	    border-radius: 50px;
	    cursor: pointer;	
	    background: #fff;    
}
#checkout .opc-wrapper .shipping-address-item.not-selected-item .edit-address-link{
	display: none;
}
#checkout .opc-wrapper .shipping-address-item.not-selected-item .action-select-shipping-item{
	background: transparent;
    box-shadow: none;
    border: 0;
    margin: 0;
    padding: 0;	
}
#checkout .opc-wrapper .shipping-address-item.not-selected-item .action-select-shipping-item span{
	display: none;
}
#checkout .opc-wrapper .shipping-address-item.not-selected-item .action-select-shipping-item:after {
    content: '';
    width: 18px;
    height: 18px;
    left: 20px;
    top: 27px;
    border: 1px solid #4D4D4D;
    border-radius: 50px;
    cursor: pointer;
    color: #fff;
    position: absolute;
}
#checkout .opc-wrapper .step-content{
    position: relative;	
    margin-bottom: 10px;
}
.action-show-popup{
    box-shadow: none;
    width: 216px;
    height: 144px;
    border: 1px solid #4d4d4d;
    border-radius: 0px;
    background: transparent;	
}
.opc-wrapper .action-show-popup>span:before{
    content: '+';
    padding-right: 5px;    
    width: 100%;
    float: left;	
    color: #F87883;
    font-size: 18px;    
}
.shipping-address-item .shippingname{
	font-size: 12px;
	text-transform: uppercase;
	color:#4d4d4d;
	letter-spacing: 0.04em;
	font-family: 'Futura Bk BT Medium';	
}
.shipping-address-item .shipaddress{
	color: #757575;
	font-size: 11px;
	line-height: 140%;
	margin-top: 35px;
}
.table-checkout-shipping-method .listship-methods .box-method
{
	background: #FAFAFA;
    border: 1px solid #4D4D4D;
    width: 316px;
    padding: 18px 28px 18px;
    float: left;
    margin-left: 0;
    margin-right: 20px;
    height: 96px;
}
.checkcontainer {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 17px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.checkcontainer input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}
.radiobtn {
    position: absolute;
    top: 0;
    left: 0;
    height: 18px;
    width: 18px;
    background-color: #fff;
    border:1px solid #4d4d4d;
    border-radius: 50%;
}
.checkcontainer input:checked ~ .radiobtn {
    background-color: #4d4d4d;
    content: '';
    width: 18px;
    height: 18px;
    left: 0px;
    top: 0px;
    border: 5px solid #4D4D4D;
    border-radius: 50px;
    cursor: pointer;
    background: #fff;    
}
.table-checkout-shipping-method .listship-methods .box-method .col-method.method_code{
	display: none;
}
.table-checkout-shipping-method .listship-methods .box-method .col-carrier{
    padding-left: 30px;
    width: auto;
    float: left;
}
.table-checkout-shipping-method .listship-methods .box-method .col-price{
	float: right;
    width: auto;
}
.table-checkout-shipping-method .listship-methods .box-method .col-price,.table-checkout-shipping-method .listship-methods .box-method .col-carrier{
    color: #4d4d4d;
    font-size: 14px;
}
#shipping-method-buttons-container{
	margin-top: 20px;
	width:100%;
	float: left;	
}
#shipping-method-buttons-container .primary{
	float: left;
	background: #4D4D4D !important;
}
#shipping-method-buttons-container .primary span{
	font-weight: normal;
}
#checkout .opc-sidebar{
	margin:-100px 0 20px;
}
#checkout .opc-sidebar .modal-header{
	border-bottom: 0px;	
}
#checkout .opc-sidebar .modal-content{
	box-shadow: none;
	background-color: transparent; 
	border-radius: 0px;
	border:0px;
}
.listship-methods{
	    margin-top: 9px;
}
#checkout .opc-block-summary>.title{
    font-family: 'Tiempos Headline Medium';
    font-size: 28px;
    color: #4d4d4d;	
    order:1;
}
#checkout .opc-block-summary .table-totals{
	order:3;
	border:1px solid #E0E0E0;
	border-top:0px;
}
#checkout .opc-block-summary .items-in-cart{
	order:2;
	border: 1px solid #E0E0E0;
	border-bottom: 0px;
}
#checkout .opc-block-summary{
    background: #fff;
    margin: -29px 0px 20px;
    padding: 20px 0px 20px 20px;	    
    display: flex;
    flex-flow: column;
}
#checkout .opc-block-summary .items-in-cart>.title{
	border-bottom: 0px;
	padding: 10px 40px 5px 15px;	
}
#checkout .opc-block-summary .items-in-cart>.title:after{
	    right: 15px;
}
#checkout .minicart-items{
	padding: 5px 8px;
}
#checkout .opc-block-summary .product-item .price{
	font-size: 12px;
	color:#4d4d4d;
	font-family: 'Futura Bk BT Medium';		
}
#checkout .opc-block-summary .product-item .subtotal{
	position: absolute;
    top: -8px;
    right: 0;
}
#checkout  .minicart-items .product-item-name{
	font-size: 14px;
    color: #4d4d4d;
}

#checkout  .minicart-items .label,#checkout  .minicart-items .values{
	color:#757575;
	font-size: 12px;
	padding: 1px 1px;
	font-weight: normal;
	line-height: initial;
}
#checkout .minicart-items-wrapper .product-item-details{
	    padding-left: 22px;
}
.column.main #checkout .opc-block-summary .product-item
{
	padding-bottom: 0;
	border-top: 1px solid #EEEEEE;
}
#checkout .opc-block-summary .table-totals tr{
	border-bottom: 1px solid #EEEEEE;
}
#checkout .opc-block-summary .table-totals tr th, #checkout .opc-block-summary .table-totals tr td {
    padding: 23px 15px;
}
#checkout .opc-block-summary .table-totals tr th,#checkout .opc-block-summary .table-totals tr th .label{
	text-transform: uppercase;
    color: #4d4d4d;
    font-size: 12px;
    letter-spacing: 0.04em;
    font-family: 'Futura Bk BT Medium';	       
}
 #checkout .opc-block-summary .table-totals tr td{
	font-size: 14px !important;
    line-height: 130%;
    color: #4d4d4d; 	
    text-transform: uppercase !important;
 }
 #checkout .opc-block-summary .table-totals tr.totals-tax{
 	border-bottom: 1px solid #E0E0E0;
 }
 #checkout .opc-block-summary .table-totals tr th .label {
    padding: 0;
}
#checkout .opc-block-summary .not-calculated{
	font-style: normal;
}
#checkout .opc-block-summary .minicart-items-wrapper{
	    padding: 2px 15px 0 0;
	    margin: 0 -8px 0 0;
}
#checkout input[type="text"], #checkout input[type="password"], #checkout input[type="tel"], #checkout input[type="number"], #checkout input[type="datetime"], #checkout input[type="email"]
{
    height: 60px;
    font-size: 12px;
    color: #9E9E9E;
    border: 1px solid #E0E0E0;
    border-radius: 0px;
}
#checkout .opc-wrapper .form-login{
	border-bottom:0px;
	margin-bottom: 0;
    padding-bottom: 0;
}
#checkout .opc-wrapper .form-shipping-address{
	margin-top:0;
}