/*--- checkout steps --*/
.opc-progress-bar-item._complete:before,.opc-progress-bar-item._active:before,.opc-progress-bar-item._active>span:before,.opc-progress-bar-item._active>span:after,.opc-progress-bar-item:last-child:before,.opc-progress-bar-item>span:before, .opc-progress-bar-item>span:after{
	display: none !important;
}
.checkout-index-index header.page-header{
	    border-bottom: 1px solid #EEEEEE;
}
.checkout-shipping-method{
    display: flex;
    flex-direction: column;    
    width:100%;
    margin-top: 0px;
}
#checkout .opc-progress-bar
{
	margin: 86px 0 50px;
}
#checkout-step-shipping .form.form-login .hidden-fields{
	display: none !important;
}
.opc-progress-bar .opc-progress-bar-item>span,.opc-progress-bar .opc-progress-bar-item._active>span
{
	color: #4d4d4d !important;
    font-size: 16px;
    font-family: 'Futura Bk BT Medium';
    font-weight: normal;
    line-height: 100%;
    display: inline-block;
    padding-top: 0;
}
.opc-progress-bar .opc-progress-bar-item>span{
	color: #9E9E9E;
	font-family: 'Futura Bk BT';
}
.opc-progress-bar .opc-progress-bar-item{
	width:auto;
    position: relative;
    padding-right: 42px;	
}
.opc-progress-bar .opc-progress-bar-item._active:after,.opc-progress-bar-item._complete:after{
    content: '\f105';
    font-family: 'fontAwesome';
    color: #4d4d4d;
    font-size: 18px;
    display: inline-block;
    position: absolute;
    top: -4px;
    right: 16px;
}
#checkout .authentication-wrapper{
    display: none;
}
.opc-progress-bar li:last-child.opc-progress-bar-item._active:after{
    display: none;
}
.form-login .actions-toolbar > .secondary:last-child{
    margin-top: 0px;
}
.form-login .actions-toolbar > .secondary .action.remind{
    color:#4d4d4d;
}
#checkout .opc-wrapper .step-title{
	color: #4d4d4d;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    font-size: 12px;
    font-family: 'Futura Bk BT Medium';	
    border-bottom: 0;
    margin-bottom: 0px;
    order:1;
}
.checkout-shipping-method .order-attributes{
    order:3;
}
#checkout-step-shipping_method{
    order:2;
}
.checkout-shipping-method .order-attributes .label{
    display: none;
}
#checkout .opc-wrapper .shipping-address-item.selected-item,#checkout .opc-wrapper .shipping-address-item.not-selected-item{
	border-color: #4D4D4D;
    background: #FAFAFA;
    margin: 9px 40px 40px 0px;
    padding: 23px 0px 20px 50px;
    height: 144px;
    border-width: 1px;
    color: #4d4d4d;
    width: 216px;
    line-height: 140%;
    font-size: 11px;
    min-height: 144px;
}

#checkout .opc-wrapper .shipping-address-item.not-selected-item{
	background: #fff;	
	border-color: #757575;
}
#checkout .opc-wrapper .shipping-address-item.selected-item:after{
	    content: '';
	    width: 18px;
	    height: 18px;
	    left: 19px;
	    top: 22px;
	    border: 5px solid #4D4D4D;
	    border-radius: 50px;
	    cursor: pointer;	
	    background: #fff;    
}
#checkout .opc-wrapper .shipping-address-item.not-selected-item .edit-address-link,#checkout .opc-wrapper .shipping-address-item.selected-item .edit-address-link{
	display: none;
}
#checkout .opc-wrapper .shipping-address-item.not-selected-item .action-select-shipping-item{
	background: transparent;
    box-shadow: none;
    border: 0;
    margin: 0;
    padding: 0;	
}
#co-shipping-form .model-buttons{
    width:100%;
    float: left;
}
.add-new-address-form-inline .action-add-new-shipping,.new-address-popup .action-show-popup,.checkout-billing-address .shipping-address-item.addnewbilling .action-show-popup{
    border-color: #4D4D4D;
    background: #FAFAFA;
    margin: 8px 0px 40px 0px;    
    height: 144px;
    border-width: 1px;
    color: #4d4d4d;
    width: 216px;
    line-height: 140%;    
    border-radius: 0;
    font-size: 14px; 
    position: relative;
    top: 0;
    right: 0;  
}
.add-new-address-form-inline .action-add-new-shipping:before,.new-address-popup .action-show-popup,.checkout-billing-address .shipping-address-item.addnewbilling .action-show-popup:before{
   content: '+';    
    width: 100%;
    float: left;    
    color: #F87883;
    font-size: 18px;   
    padding: 5px;
}
.checkout-billing-address .shipping-address-item.addnewbilling .action-show-popup span:before,.checkout-billing-address .shipping-address-item.addnewbilling:before{
    display: none;
}
.add-new-address-form-inline._active{
    width: auto;
    float: left;
}
#checkout .opc-wrapper .shipping-address-item.not-selected-item .action-select-shipping-item span{
	display: none;
}
#checkout .opc-wrapper .shipping-address-item.not-selected-item .action-select-shipping-item:after {
    content: '';
    width: 18px;
    height: 18px;
    left: 20px;
    top: 22px;
    border: 1px solid #4D4D4D;
    border-radius: 50px;
    cursor: pointer;
    color: #fff;
    position: absolute;
} 
#checkout .opc-wrapper .step-content{
    position: relative;	
    margin-bottom: 10px;
}
#checkout-step-shipping .field.addresses{
    width:auto;
    float: left;
}
.shipping-address-item .shippingname,.billing-address-details .billingname,.billingname{
	font-size: 12px;
	text-transform: uppercase;
	color:#4d4d4d;
	letter-spacing: 0.04em;
	font-family: 'Futura Bk BT Medium';	
}
.shipping-address-item .shipaddress,.billing-address-details .billingaddress,.billingaddress{
	color: #757575;
	font-size: 11px;
	line-height: 140%;
	margin-top: 35px;
}
.checkout-billing-address .shipping-address-item .billingaddress{
    margin-top: 20px;
}
.checkout-billing-address .shipping-address-item.addnewbilling{
    border:0px;
    width:auto !important;
    min-height: auto;
    background:transparent;
    margin: 0px;
    padding:0px;
}

.billing-address-details .billingaddress{
    margin-top: 20px;
}

.table-checkout-shipping-method .listship-methods .box-method
{
    background: #FAFAFA;
    border: 1px solid #4D4D4D;
    width: 48.5%;
    padding: 18px 30px 18px;
    float: left;
    margin-left: 0;
    margin-right: 22px;
    margin-bottom: 2%;
    height: 97px;
    position: relative;
}
.table-checkout-shipping-method .listship-methods .box-method:nth-child(even){
    margin-right: 0;
}
.table-checkout-shipping-method .listship-methods .box-method p{
    position: relative;    
    left: 30px;
    color: #4d4d4d;
    font-size: 12px;
        clear: both;
}
.checkcontainer {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 17px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.checkcontainer input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}
.radiobtn {
    position: absolute;
    top: 0;
    left: 0;
    height: 18px;
    width: 18px;
    background-color: #fff;
    border:1px solid #4d4d4d;
    border-radius: 50%;
}
.checkcontainer input:checked ~ .radiobtn {
    background-color: #4d4d4d;
    content: '';
    width: 18px;
    height: 18px;
    left: 0px;
    top: 0px;
    border: 5px solid #4D4D4D;
    border-radius: 50px;
    cursor: pointer;
    background: #fff;    
}

.table-checkout-shipping-method .listship-methods .box-method .col-method.methodcode{
	display: none;
}
.table-checkout-shipping-method .listship-methods .box-method .col-carrier{
    padding-left: 30px;
    width: auto;
    float: left;
}
.table-checkout-shipping-method .listship-methods .box-method .col-price{
    float: right;
    width: auto;
    position: absolute;
right: 34px;
    top: 29px;  
}
.table-checkout-shipping-method .listship-methods .box-method .col-price,.table-checkout-shipping-method .listship-methods .box-method .col-carrier{
    color: #4d4d4d;
    font-size: 14px;
}
#shipping-method-buttons-container{
	margin-top: 20px;
	width:100%;
	float: left;	
}
#shipping-method-buttons-container .primary{
	float: left;
	background: #4D4D4D !important;    
}
#shipping-method-buttons-container .primary span{
	font-weight: normal;
}
#checkout .opc-sidebar{
	margin:-100px 0 20px;
}
#checkout .opc-sidebar .modal-header{
	border-bottom: 0px;	
}
#checkout .opc-sidebar .modal-content{
	box-shadow: none;
	background-color: transparent; 
	border-radius: 0px;
	border:0px;
}
.listship-methods{
	    margin-top: 9px;
}
#checkout .opc-block-summary>.title{
    font-family: 'Tiempos Headline Medium';
    font-size: 28px;
    color: #4d4d4d;	
    order:1;
    margin-bottom: 30px;
}
#checkout .opc-block-summary .table-totals{
	order:3;
	border:1px solid #E0E0E0;
	border-top:0px;
}
#checkout .opc-block-summary .items-in-cart{
	order:2;
	border: 1px solid #E0E0E0;
	border-bottom: 0px;
    margin-bottom: 0px;
}
#checkout .opc-payment-additional.discount-code
{
    order:4;
}
#checkout .opc-block-summary{
    background: #fff;
    margin: -27px 0px 20px;
    padding: 18px 0px 20px 16px;	    
    display: flex;
    flex-flow: column;
}
#checkout .opc-block-summary .items-in-cart>.title{
	border-bottom: 0px;
	padding: 10px 40px 5px 15px;	
}
#checkout .opc-block-summary .items-in-cart>.title:after{
	    right: 15px;
}
#checkout .minicart-items{
	padding: 7px 6px 0px 9px;
}
#checkout .minicart-items.tradecheck .product-image-container{
    display: none;
}
#checkout .opc-block-summary .product-item .price{
	font-size: 12px;
	color:#4d4d4d;
	font-family: 'Futura Bk BT Medium';		
}
#checkout .opc-block-summary .product-item .subtotal{
	position: absolute;
    top: -4px;
    right: 0;
}
#checkout  .minicart-items .product-item-name{
	font-size: 14px;
    color: #4d4d4d;
}

#checkout  .minicart-items .label,#checkout  .minicart-items .values{
	color:#757575;
	font-size: 12px;
	padding: 1px 1px;
	font-weight: normal;
	line-height: initial;
}

#checkout .minicart-items-wrapper .product-item-details{
	    padding-left: 22px;
}
#checkout .tradecheck .minicart-items-wrapper .product-item-details{
    padding-left: 0px;   
} 
.column.main #checkout .opc-block-summary .product-item
{
	padding-bottom: 21px;
	border-top: 1px solid #EEEEEE;
}
.column.main #checkout .opc-block-summary .product-item:first-child{
    border-top:0px;
}
#checkout .opc-block-summary .table-totals tr{
	border-bottom: 1px solid #EEEEEE;
}
#checkout .opc-block-summary .table-totals tr th, #checkout .opc-block-summary .table-totals tr td {
    padding: 23px 20px;
}
#checkout .opc-block-summary .table-totals tr th,#checkout .opc-block-summary .table-totals tr th .label{
	text-transform: uppercase;
    color: #4d4d4d;
    font-size: 12px;
    letter-spacing: 0.04em;
    font-family: 'Futura Bk BT Medium';	
    font-weight: normal;       
}
 #checkout .opc-block-summary .table-totals tr td{
	font-size: 14px !important;
    line-height: 130%;
    color: #4d4d4d; 	
    text-transform: uppercase !important;
 }
 #checkout .opc-block-summary .table-totals tr.totals-tax{
 	border-bottom: 1px solid #EEE;
 }
 #checkout .opc-block-summary .table-totals tr th .label {
    padding: 0;
}
#checkout .opc-block-summary .not-calculated{
	font-style: normal;
}
#checkout .opc-block-summary .minicart-items-wrapper{
	    padding: 2px 15px 0 0;
	    margin: 0 -8px 0 0;
}
#checkout textarea[name="additional_comments"],#checkout input[type="text"], #checkout input[type="password"], #checkout input[type="tel"], #checkout input[type="number"], #checkout input[type="datetime"], #checkout input[type="email"], #checkout select
{
    height: 60px;
    font-size: 12px;
    color: #4d4d4d;
    border: 1px solid #E0E0E0;
    border-radius: 0px;
    width: 100%;
    opacity: 1;
    padding: 0px 22px;
}
#checkout textarea[name="additional_comments"]{
    height:200px;
    padding: 10px 22px;
}
#checkout input[type="text"]::-webkit-input-placeholder{ 
  font-size: 12px;    
  color: #9E9E9E;
  font-style: normal;
}
#checkout input[type="text"]:-ms-input-placeholder{
  font-size: 12px;    
  color: #9E9E9E;
  font-style: normal;
}
#checkout input[type="text"]::placeholder{
  font-size: 12px;    
  color: #9E9E9E;
  font-style: normal;
}
#checkout .opc-wrapper .form-login{
	border-bottom:0px;
	margin-bottom: 0;
    padding-bottom: 0;
    max-width: 100%;
    width: 98.5%;
    margin: 0 1% 0 0%;
}
#checkout .opc-wrapper .form-shipping-address{
	margin-top:0;
    max-width: 100%;
    width: 100%;
    float: left;
}
#checkout #shipping-new-address-form .label,#checkout #billing-new-address-form .label{
    display: none;
}
#checkout #tooltip,#checkout .form-login .note,#checkout .mandatory,#checkout .mandatory{
    display: none !important;
}
493#checkout #shipping-new-address-form #shipping-save-in-address-book + .label{
    display: block !important;
    font-size: 14px;
    text-align: left;
    padding-left: 30px;
    padding-top: 0;
}
.checkout-payment-method .billing-address-form{
    max-width: 100% !important;
}
#shipping-new-address-form .field,#billing-new-address-form .field,.billing-address-form .field,.billing-address-form .field.additional{
    width:48.5%;
    display: inline-block;
    margin: 21px 11px 20px 0;
    float: left;
}
#co-payment-form .field[name="billingAddressshared.firstname"],#co-payment-form .field[name="billingAddressshared.street.1"],#co-payment-form .field[name="billingAddressshared.region"],#co-payment-form .field[name="billingAddressshared.city"],#co-payment-form .field[name="billingAddressshared.region_id"],#shipping-new-address-form .field[name="shippingAddress.firstname"],#shipping-new-address-form .field[name="shippingAddress.street.1"],#shipping-new-address-form .field[name="shippingAddress.region"],#shipping-new-address-form .field[name="shippingAddress.city"],#shipping-new-address-form .field[name="shippingAddress.region_id"]{
    margin-right:0px;
    margin-left:9px;
}

#shipping-new-address-form .field.choice, #co-payment-form .field.choice:not(.payment-method-title){
   width:99.5%;     
   margin: 2px 0px 37px 0px;
}

#shipping-new-address-form .field._required._error input,#billing-new-address-form .field._required._error input{
    border: 1px solid #EF5350;
}
.field-error{
    color:#EF5350 !important;
}
#shipping-new-address-form .field[name="shippingAddress.lastname"],#billing-new-address-form .field[name="billingAddress.company"],.billing-address-form .field[name="billingAddressshared.company"]{
    width:99.5%;
}
#shipping-new-address-form .field.street,#billing-new-address-form .field.street,.billing-address-form .field.street{
    width: 100%;
    margin: 0
}
#customer-email-fieldset{
    margin-bottom: 0;
}
.billing-address-same-as-shipping-block label{    
    font-size: 14px;
    font-weight: normal;
    color: #4d4d4d;    
}
.checkout-billing-address #billing-address-same-as-shipping,#shipping-save-in-address-book,#billing-address-same-as-shipping-shared,#billing-save-in-address-book-shared{
    display: inline-block;
    position: relative;
    background-color: #fff;
    color: #4d4d4d;
    top: 4px;
    height: 18px;
    width: 18px;
    cursor: pointer;
    outline: none;
    margin: 0!important;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border-radius: 0px;
    border: 1px solid #BDBDBD;
    min-width: 18px;
}
.checkout-billing-address #billing-address-same-as-shipping:checked,#shipping-save-in-address-book:checked,#billing-address-same-as-shipping-shared:checked{
    background-color: #4d4d4d;
    color:#fff;
    border: 0px !important;
    text-align: center;
    top: 0px;
}
.checkout-billing-address #billing-address-same-as-shipping:checked:after,#shipping-save-in-address-book:checked:after,#billing-address-same-as-shipping-shared:checked:after{
    background:url('../images/tick.png') no-repeat;
    content:'';     
    width: 12px;
    height: 12px;
    display: inline-block;
    background-size: 100%;
    text-align: center;
    background-position: 0 0px;
}
#shipping-save-in-address-book:checked,#shipping-save-in-address-book,#billing-save-in-address-book-shared{
    top:17px;
}
.billing-address-form{
    margin-top: 20px;
}

#discount-form{position: relative;}

#discount-form .actions-toolbar {
    position: absolute;
    top: 0px;
    margin-top: 0;
    right: 0;
}
#discount-form .action,#discount-form .cancel{
    width: 100%;
    height: 60px;
    border-radius: 0;
    color: #fff;
    background: #4D4D4D !important;
    font-weight: normal;
    padding: 0px 29px;
    font-family: 'Futura Bk BT Medium' !important;
    border: 0;
    box-shadow: none;
}
.minicart-items .product-item-details .details-qty .value{
        color: #757575;
        font-size: 12px;
}
#checkout .opc-block-summary .table-totals tr:last-child{
    border-bottom: 1px solid #e0e0e0;
}
#checkout #billing_address_id{
    width: 98%;
    margin-top: 10px;  
}
#co-shipping-form .model-buttons button,.checkout-payment-method .checkout-billing-address .primary .action-update,.checkout-billing-address .actions-toolbar .action-cancel{
    background: #4D4D4D !important;
    border-radius: 0;
    width: 48.5% !important;
    float: right;
    margin-right: 11px;
    box-shadow: none;
    border: 0;
    color: #fff;
    height: 60px;
    border:1px solid #4d4d4d;
}
#co-shipping-form .model-buttons button.action-save-address,#co-shipping-form .model-buttons button.action-cancel{
    margin-right: 0px;
    margin-left: 11px;
}
#co-shipping-form .model-buttons button.action-hide-popup,.checkout-billing-address .actions-toolbar .action-cancel{
    background: #fff !important;
    color:#4d4d4d !important;
    border:1px solid #4d4d4d !important;
}
.checkout-payment-method .checkout-billing-address .primary .action-update,.checkout-billing-address .actions-toolbar .action-cancel{
    margin:0px 22px 0px 0px !important;
}
.checkout-billing-address button.action.action-update{
    margin-right:  0px !important;
}

#checkout-payment-method-load .payment-group .step-title{
    display: none;
}
.checkout-payment-method .actions-toolbar .primary{
    width: 100%;
}
.payment-method input[type="radio"]{
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border: 1px solid #4D4D4D;
    border-radius: 50px;
    cursor: pointer;
    background: #fff;
    float: left;            
    width: 18px;
    height: 18px; 
    margin: 2px 10px 10px 0px;
}
.payment-method input[type="radio"]:checked,.payment-method._active input[type="radio"]{    
    border: 5px solid #4D4D4D;
    border-radius: 50px;
    cursor: pointer;
    background: #fff;        
}
#checkout-payment-method-load .payment-group .payment-method:after{
    content:'OR';
    font-size:14px;
    color:#4d4d4d;
    position: relative;
    top: 33px;
}
#checkout-payment-method-load .payment-method{
        margin: 48px 0px 55px;
}
#checkout-payment-method-load .payment-methods .payment-group:last-child .payment-method:last-child:after{
    display: none;
}   
.checkout-payment-method .payment-method+.payment-method .payment-method-title{
    border-top:0px !important;
}
.checkout-payment-method .checkout-billing-address{
    border-bottom: 1px solid #E0E0E0;
    margin-top: 8px;
}
.checkout-payment-method .checkout-billing-address .billing-address-details{
    border:1px solid #4D4D4D;    
    background: #FAFAFA;
    margin: 13px 40px 40px 0px;
    padding: 23px 0px 20px 50px;
    height: 144px;
    border-width: 1px;
    color: #4d4d4d;
    width: 216px;
    line-height: 140%;
    font-size: 11px;    
    position: relative;
}
.checkout-payment-method .checkout-billing-address .billing-address-details:after{
    content: '';
    width: 18px;
    height: 18px;
    left: 19px;
    top: 22px;
    border: 5px solid #4D4D4D;
    border-radius: 50px;
    cursor: pointer;
    background: #fff;
    position: absolute;
}
.payment-method input[type="radio"]:focus{
    box-shadow: none;
    outline: unset !important;
}
.opc-block-shipping-information{
    display: none;
}
input[type=file]:focus, input[type=checkbox]:focus, input[type=radio]:focus{
    box-shadow: none !important;
}
.checkout-payment-method .payment-method .label{
    font-size: 12px;
    color: #4d4d4d;
    text-transform: uppercase;
    font-weight: normal;
    font-family: 'Futura Bk BT Medium';
}
.billing-address-form .label{
    display:none !important;
}
.billing-address-form .field.choice  .label{
    display:block !important;
}
.discount-code .message.success{
    margin: 0 0 10px;
    padding: 12px 20px 12px 25px;
    display: block;    
    background: #E8F5E9;
    color: #4D4D4D;
    padding-left: 45px;
    position: relative;
    font-size: 14px;
}
.discount-code .message.success>*:first-child:before{
      content:'';
      background: url('../images/tag.png') no-repeat;
      background-size: 100%;
      width:16px;
      height:16px;    
      top: 26px;    
      left: 18px;   
}
.order-attributes-form .fields[name="amastyShippingMethodAttributes.additional_comments"]{
    height:120px;
}
#co-transparent-form-braintree .field .label{
    text-align: left;
    padding: 0;    
}
#co-transparent-form-braintree input[type=checkbox]{
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border: 1px solid #4D4D4D;    
    cursor: pointer;
    background: #fff;
    float: left;            
    width: 18px;
    height: 18px; 
    margin: 2px 10px 10px 0px; 
    text-align: center;
}
#co-transparent-form-braintree input[type=checkbox]:checked{    
    background: #4d4d4d;    
}
#co-transparent-form-braintree input[type=checkbox]:checked:after{
    content:'\f00c';
    font-family: 'fontAwesome';
    color:#fff;
    font-size: 12px;
    position: relative;
    top: -1px;    
}
.checkout-billing-address .billing-address-details .action-edit-address{
    display: none !important; 
}
.payment-method-content .actions-toolbar{
    display: none;
}
.actions-toolbar-trigger #place-order-trigger{
    width: 100%;
    margin: -26px 0px 20px;
    font-family: 'Futura Bk BT Medium' !important;
    background: #4d4d4d !important;
    border-radius: 0;
    height: 50px;
    font-size: 15px;  
    font-weight: normal;  
}
.actions-toolbar-trigger{padding-left: 20px;}

.checkout-payment-method .payment-method .label .action-help,.checkout-payment-method .payment-method .label .titlepaypal-express{
    display: none;
}


@media only screen and (max-width: 1100px){
    .modal-custom .items-in-cart .minicart-items-wrapper .product-item-details{
            width: 50%;
     }
}
@media only screen and (max-width: 767px){
    #checkout .opc-progress-bar{
        margin: 6px 0 45px;
        display: block;
    }
    .opc-progress-bar .opc-progress-bar-item{
        display: inline-block;
    }
    .opc-progress-bar .opc-progress-bar-item>span, .opc-progress-bar .opc-progress-bar-item._active>span{
        font-size: 20px;
    }  
    #checkout .opc-wrapper .step-content{
        margin-top: 9px;
    } 
    #checkout .opc-wrapper #checkout-step-payment.step-content,.checkout-payment-method .checkout-billing-address{
        margin-top: 0px;
    }
    #checkout .opc-wrapper .shipping-address-item.selected-item:after{
        width: 16px;
        height: 16px;
        left: 10px;
        top: 15px;
    }    
    #checkout .opc-wrapper .shipping-address-item.selected-item, #checkout .opc-wrapper .shipping-address-item.not-selected-item{
        width: 161px;
        margin: 8px 23px 16px 0px;
        padding: 16px 0px 20px 35px;
    }
    #checkout .opc-wrapper .shipping-address-item.selected-item:last-child, #checkout .opc-wrapper .shipping-address-item.not-selected-item:last-child{
            margin-right: 0;
    }
    .add-new-address-form-inline .action-add-new-shipping,.new-address-popup .action-show-popup{
        width: 161px;
        right: unset;
        position: relative;
        width: 161px;
        margin: 8px 0px 25px 0px;
    }
    .add-new-address-form-inline .action-add-new-shipping:before,.new-address-popup .action-show-popup:before{
        padding-bottom: 11px;
        padding-right: 0;
    }
    .add-new-address-form-inline .action-add-new-shipping span,.new-address-popup .action-show-popup span{
        font-size: 14px;
    }
    .opc-wrapper .methods-shipping{
            padding-top: 0;
            margin: 8px -15px 15px;
    }
    .table-checkout-shipping-method .listship-methods .box-method{
            width: 100%;
            margin: 0px 0px 18px 0px;
    }
    #shipping-method-buttons-container .primary{
            margin: 0;            
            width: 100%;
    }
    #checkout .opc-sidebar{
            margin: 0px 0 20px;
            position: relative;
            visibility: visible;
            opacity: 1;
            left: unset;
            right: unset;
    }
    #checkout .opc-block-summary .table-totals tr th, #checkout .opc-block-summary .table-totals tr td{
            padding: 23px 18px;
    }
    .custom-slide .modal-inner-wrap{
        transform: none;
        transition: none;
        box-shadow: none;
        background: #fff;
    }
    .opc-estimated-wrapper,#checkout .opc-sidebar .modal-header{
        display: none;
    }
    #checkout .opc-block-summary{
        padding: 20px 0px 20px 0px;
    }
    #checkout .opc-block-summary>.title{
        font-size: 20px;
        font-family: 'Futura Bk BT Medium';
        margin-bottom: 15px;
    }   
    #checkout .minicart-items-wrapper .product-item-details{
        padding: 0 35px 0px 10px;
    } 
    .checkout-payment-method .billing-address-form{
        width:100%;float: left;
    }
    #shipping-new-address-form .field, #billing-new-address-form .field, .billing-address-form .field, .billing-address-form .field.additional{
        width:100%;
        margin: 20px 0px 20px 0 !important;
    } 
    #shipping-new-address-form .field[name="shippingAddress.lastname"], #billing-new-address-form .field[name="billingAddress.company"], .billing-address-form .field[name="billingAddressshared.company"]{
        width:100%;
    }
    .checkout-billing-address{
            clear: both;
    }
    #checkout .opc-wrapper .form-shipping-address{        
        background: transparent;
        padding: 20px 0px;
        margin: 20px 0px 15px;
    }
    #co-shipping-form .model-buttons button.action-save-address{
        margin-right: 0;
    }
    #co-shipping-form .model-buttons button.action-hide-popup{
        margin-right: 4%;
    }
    #shipping-new-address-form .field.choice{
        margin: 20px 0px 23px 0px;
    }
    #shipping-save-in-address-book:checked, #shipping-save-in-address-book{
        top: 0;
    }
    #checkout #shipping-new-address-form #shipping-save-in-address-book + .label{
        display: inline-block !important;
    }
    #checkout .opc-wrapper .shipping-address-item.not-selected-item .action-select-shipping-item:after{
        left: 10px;
        top: 15px;
    }
    #checkout .opc-block-summary .table-totals tr td{
        letter-spacing: 0.04em;
    }
    #checkout .opc-block-summary .product-item .price{
        font-size: 14px;
        letter-spacing: 0.04em;
    }
    .opc-progress-bar .opc-progress-bar-item._active:after, .opc-progress-bar-item._complete:after{
        right: 16px;
        top: -2px;
    }
    .checkout-payment-method .billing-address-same-as-shipping-block{
            margin: -4px 0 10px;
    }
    .checkout-billing-address .shipping-address-item.addnewbilling .action-show-popup{
        width: 161px;
    }
    .checkout-payment-method .checkout-billing-address .billing-address-details{
            width: 161px;
            margin: 15px 40px 40px 0px;
            padding: 16px 0px 20px 34px;
    }
    .checkout-payment-method .checkout-billing-address .billing-address-details:after{
        left: 11px;
        top: 16px;
    }
    #checkout .opc-wrapper .step-title{
        padding:0;
    }
    #checkout-payment-method-load .payment-group .payment-method:after{
        left: 25px;
        top: 28px;
    }    
    .checkout-payment-method .payment-method-title input[value="paypal_express"] + .label img.payment-icon{
        width: 300px;
    }
    .billing-address-details .billingaddress{
        margin-top: 20px;
    }
    .actions-toolbar-trigger{
        padding-left: 0;
    }
    .actions-toolbar-trigger #place-order-trigger{
        height: 60px;
    }
    .billing-address-form .field.choice{
        margin: 0;
    }
    #billing-save-in-address-book-shared{
        top:5px;
    }
    .billing-address-form .field.choice .label{
        display: inline-block !important;
    }
    .search-toggle-icon1,header .action.nav-toggle{
        display: none;
    }
    #checkout .minicart-items{
        display:none;
    }
    #checkout-step-shipping .field.addresses{
            margin-right: 22px;
    }
    .opc-wrapper .shipping-address-item button.action.action-select-billing-item {
        width: 18px;
        height: 18px;
        left: 19px;
        top: 22px;
        border: 1px solid #4D4D4D;
        border-radius: 50px;
        cursor: pointer;
        background: #fff;
        position: absolute;
        padding: 0;
    }
    .opc-wrapper .shipping-address-item {
       border-color: #4D4D4D;
        background: #FAFAFA;
        margin: 8px 22px 40px 0px;
        padding: 23px 0px 20px 50px;
        height: 144px;
        border-width: 1px;
        color: #4d4d4d;
        width: 161px !important;
        line-height: 140%;
        font-size: 11px;
        min-height: 144px;
        float: left;
    }
    .checkout-billing-address .shipping-address-item.addnewbilling{
        float:left;
    }
    #co-shipping-form .model-buttons button, .checkout-payment-method .checkout-billing-address .primary .action-update, .checkout-billing-address .actions-toolbar .action-cancel{
        width:48% !important;
        margin:0 2% 22px !important;
    }
    #co-shipping-form .model-buttons button.action-save-address ,.checkout-payment-method .checkout-billing-address .primary .action-update{
       margin-right: 0 !important;
    }
    #co-shipping-form .model-buttons button.action-hide-popup ,.checkout-payment-method .checkout-billing-address .primary .action-cancel{
       margin-left: 0 !important;
    }    
}
@media only screen and (max-width: 639px){
    .opc-wrapper .methods-shipping{
        border-bottom:0px;
    }
}

