<?xml version="1.0"?>

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
    <event name="controller_action_postdispatch_catalog_category_save">
        <observer name="tunda_smartwavemegamenucache_observer_category" instance="Tunda\SmartwaveMegamenuCache\Observer\ControllerActionPostdispatchCatalogCategorySave" />
    </event>
</config>
