/* trade login */
.customer-account-login #maincontent .columns {
    max-width: 100%;
    width: 100%;
}

@media screen and (min-width: 768px) {  
.customer-account-login header.page-header {    display: none;}
.customer-account-login .column.main {    padding-bottom: 0;}

}
.customer-account-login main#maincontent .message-error.error.message {
    margin: 0;
}
.customer-account-login main#maincontent {   display: block; max-width: 100%;    padding: 0;}
.block-customer-login-trade {    width: 60%;  margin-top: 5%;  float: right;   padding-left: 20px;}
.customer-account-login .site_logo{
    margin-bottom: 30px;
    margin-top: -30px;
}
.customer-account-create .form.create.account select {
    border: 1px solid #E0E0E0;
}
.block-new-customer-trade {   display: none; width: 60%;    float: right;}
.block-new-customer-trade .block.block-new-customer {    margin: 0 auto;    float: none !important; }
.customer-account-create .login_register_sidebar_main .site_logo.register {    width: 287px; display: block !important;}
.customer-account-login .actions-toolbar .primary button {    height: 50px;}
.customer-account-login .login-container .block.block-customer-login {    max-width: 455px;    margin-top: 34px !important;    float: left;
    padding-left: 5px;    margin: auto;}
.customer-account-login a.action.remind {    font-size: 13px !important;   font-family: Futura Bk BT !important;    color: #4D4D4D !important;}
.block-customer-login-trade h2#block-customer-login-heading {   color: #4D4D4D; font-size: 28px;    display: inline-block;
    width: 100%;    font-family: Tiempos Headline Medium;    font-weight: 500;  text-align: left;}
.block-customer-login-trade .actions-toolbar .secondary {    float: left;}
.customer-account-login .actions-toolbar .primary button span {    font-size: 15px;    font-weight: 500;    font-family: Futura Bk BT Medium;}
.login_register_sidebar_main {    float: left;padding: 190px 65px;    background: linear-gradient(0deg, #EDB6BB, #EDB6BB);    width: 31.4%; }
.customer-account-login .login_register_sidebar_main {
    padding: 0px 65px;
    height:100vh; 
    display: flex;    
}
.customer-account-login .login_register_sidebar_main .contain{
    display: flex;    
}
.login_register_sidebar_main .customer_account_create_top_part { padding-top: 42px; padding-right: 0;   background: none; }
.customer-account-login .login_register_sidebar_main .customer_account_create_top_part{
    padding-top: 42px; padding-right: 0;   background: none;
    align-content: center;
    align-items: flex-start;
    display: flex;
    flex-flow: column;
    justify-content: center;
}
.login_register_sidebar_main h3 {    font-size: 23px;    text-align: left;    font-family: Futura Bk BT Medium;    color: rgba(0, 0, 0, 0.6);}
.login_register_sidebar_main p {    font-size: 14px;    color: #4D4D4D;    font-family: Futura Bk BT;    line-height: 25px;    text-align: left;}
.login_register_sidebar_main .list_part {    float: left;    width: 100%;}
.login_register_sidebar_main .list_part .item {    float: left;    width: 100%;    text-align: left;
   margin-bottom: 3px;    margin-top: 10px;   line-height: 30px;}
.login_register_sidebar_main .list_part .item a {    font-size: 15px;    color: #4D4D4D;}
.login_register_sidebar_main .last_part_link {    float: left;    margin-top: 14%; width: 100%;text-align: left;}
.login_register_sidebar_main .last_part_link a.register_link { font-family: Futura Bk BT; font-size: 20px;color: #4D4D4D !important; font-weight: 500;}
.login_register_sidebar_main .last_part_link a.register_link:after,.last_part_link_mobile a.register_link:after{
    background: url('../images/next-right.png') no-repeat;
    background-size: 100%;
    width:13px;
    height:13px;
    display: inline-block;
    content:'';
}
.last_part_link_mobile a.register_link:after{
    margin-left: 5px;
}
.login_register_sidebar_main .list_part .item:first-child {    margin-bottom: 0;    margin-top: 13px;}
.login_register_sidebar_main .list_part .item:nth-child(2) {  margin-bottom: 0;      margin-top: 10px;}
.login_register_sidebar_main .list_part .item:nth-child(3) {  margin-bottom: 0;      margin-top: 8px;}
.login_register_sidebar_main .list_part .item:nth-child(4) {    margin-bottom: 0;    margin-top: 13px;}
.customer_account_create_top_part .item a.firest:before {
    content: '';
    background: url(../images/view.png) no-repeat;
  background-size: 100%;
}
.customer_account_create_top_part .item a.second:before {
    content: '';
    background: url(../images/flash.png) no-repeat;background-size: 100%;    
}
.customer_account_create_top_part .item a.third:before {
    content: '';
    background: url(../images/box.png) no-repeat;background-size: 100%;
}
    
.customer_account_create_top_part .item a.four:before {
    content: '';
    background: url(../images/bookmark.png) no-repeat !important;background-size: 100% !important;    
}
.customer_account_create_top_part .item a:before {  width: 24px !important; height: 32px !important;     background-position: 0px 5px !important;     display: inline-block;
    float: left;
    margin-right: 15px;}
.customer_account_create_top_part .item a.four:before {   height: 33px !important;    width: 24px !important; background-position: 0px 3px !important;}

@media screen and (max-width: 1440px) {  
.login_register_sidebar_main h3 {    font-size: 23px; }
}

/* end trade login */

/* trade account create */

@media screen and (min-width: 768px) {  
.customer-account-create header.page-header {    display: none;}
.customer-account-create .column.main {    padding-bottom: 0;}
.customer-account-create  .column.main {    overflow: hidden;    position: relative;    width: 100%;}
.customer-account-create .login_register_sidebar_main {    height: 100%;    position: absolute;    left: 0;    top: 0;    padding: 50px 65px;}


}

.customer-account-login .copyright.footerc ul.footer-checkout {
    display: none;
}
.customer-account-create .copyright.footerc ul.footer-checkout {
    display: none;
}

.customer-account-create .form.create.account .field.confirmation {    margin-top: 0 !important;}
.customer-account-create main#maincontent {    max-width: 100%;    padding: 0;}
.customer-account-create .login_register_sidebar_main .last_part_link {    display: none;}
.form_main_part_trade {    width: 60%;    float: right;}
.form_main_part_trade h2 {    font-size: 28px;    display: inline-block;    width: 100%;    font-family: Tiempos Headline Medium;    font-weight: 500;    text-align: left;}
.form_main_part_trade p {    font-size: 14px;    color: #616161;    float: left;    width: 100%;    text-align: left;    line-height: 26px;}
.form_main_part_trade .form_main_part {    max-width: 476px;    margin-top: 78px;    float: left;    padding-left: 25px;}
.customer_account_create_top_part .item a.four:before {    content: '';    background: url(../images/trade_site_adv.png) no-repeat;    width: 40px;    height: 40px;    background-size: 100%;
    float: left;    display: inline-block;    margin-right: 15px;    background-position: 0;}
.customer-account-create  .form_main_part_trade .form.create.account .field.field-name-firstname , .customer-account-create .form_main_part_trade .form.create.account .field.email_address , .customer-account-create .form.create.account .field.city , .customer-account-create .form.create.account .field.password {
    width: 215px;    float: left;}
.customer-account-create .form_main_part_trade .form.create.account .field.field-name-lastname , .customer-account-create .form_main_part_trade .form.create.account .field.company , .customer-account-create .form.create.account .field.zip , .customer-account-create .form.create.account .field.confirmation {
    width: 215px;    float: right;}

.form_main_part_trade button {    height: 50px !important;}
.customer-account-create .form.create.account .field select {  color: #9e9e9e; padding: 20px;font-family: Futura Bk BT; font-size: 12px;  height: 60px;}
.customer-account-create .form.create.account .field.street { margin-bottom: 0;    float: left; width: 100%;}
.customer-account-create .form.create.account .field .nested {    margin-top: 30px;}
.customer-account-create .form.create.account .field select[name="country_id"],.customer-account-create .form.create.account .field select.selectedoptions{color:#4d4d4d;}



/* end trade account create */

@media screen and (max-width: 1275px)
{
    .login_register_sidebar_main{
            padding: 190px 25px !important;
    }
}
@media screen and (max-width: 1115px) {
    .customer_account_create_top_part .item a.four:before{
            height: 96px !important;
    }
}
@media screen and (max-width: 1024px) { 
.login_register_sidebar_main {  padding: 140px 20px;}
}


@media screen and (max-width: 768px) {  
.customer-account-login main#maincontent {    margin-top: 0 !important;}
.block-customer-login-trade {    width: 100%;    float: right;    margin-top: 0;}
.login_register_sidebar_main {    width: 100%;    padding: 40px;}
.login_register_sidebar_main .last_part_link {    margin-top: 5%;}
.customer-account-login .copyright .developed, .customer-account-create .copyright .developed { display: none;}
.block-customer-login-trade h2#block-customer-login-heading {   text-align: center;}
.customer-account-login .column.main {    padding-bottom: 0 !important;}
.login_register_sidebar_main .customer_account_create_top_part {    margin-bottom: 0;}
.customer-account-create .column.main {    padding-bottom: 0 !important;}
.form_main_part_trade {    width: 100%; margin-bottom: 25px;   float: right;}
.customer-account-create .login_register_sidebar_main {    height: auto;}
.form_main_part_trade .form_main_part {    margin-top: 20px;}
.block.block-new-login {    margin-top: 0;}
.customer-account-login .actions-toolbar .primary button {    height: 50px;}
.customer-account-create .max-width-section ul.footer-checkout { border-bottom: 1px solid rgba(0, 0, 0, 0.2);}
.customer-account-login .max-width-section ul.footer-checkout { border-bottom: 1px solid rgba(0, 0, 0, 0.2);}
.customer-account-login .header.content .section1 {    top: 8px !important;}
.customer-account-login .login_register_sidebar_main{padding: 25px 25px !important;
    height:100%;
    display: inline-block;
}
}
@media screen and (max-width: 767px) {
    .customer-account-login .login-container .block.block-customer-login{
        margin:34px auto 0px !important;
        float:none;
    }
    .customer-account-login .site_logo,.customer-account-login a.backlink{
        display: none;
    }
    .customer_account_create_top_part .item a.four:before{
        height: 33px !important;
    }
}   
@media screen and (max-width: 375px) {
.form_main_part_trade {    padding-left: 15px;    padding-right: 15px;}
.customer-account-create  .form_main_part_trade .form.create.account .field.field-name-firstname , .customer-account-create .form_main_part_trade .form.create.account .field.email_address , .customer-account-create .form.create.account .field.city , .customer-account-create .form.create.account .field.password {
    width: 165px;    float: left;}
.customer-account-create .form_main_part_trade .form.create.account .field.field-name-lastname , .customer-account-create .form_main_part_trade .form.create.account .field.company , .customer-account-create .form.create.account .field.zip , .customer-account-create .form.create.account .field.confirmation {
    width: 165px;    float: right;}
.customer-account-create .form.create.account .field .nested {    margin-top: 20px;}
.customer-account-create header .logo img , .customer-account-login  header .logo img  {    height: auto;}
.login_register_sidebar_main h3 {    font-size: 18px;}
.copyright.footerc {    padding-left: 0;    padding-right: 0;}
}

@media screen and (max-width: 320px) {
.login_register_sidebar_main {    padding: 20px;}
.login_register_sidebar_main .last_part_link a.register_link {    font-size: 16px;}
.login_register_sidebar_main .list_part .item a {    font-size: 13px;}  
.customer-account-login .block-customer-login-trade {    padding-left: 15px;    padding-right: 15px;}
.customer-account-create  .form_main_part_trade .form.create.account .field.field-name-firstname , .customer-account-create .form_main_part_trade .form.create.account .field.email_address , .customer-account-create .form.create.account .field.city , .customer-account-create .form.create.account .field.password {
    width: 140px;    float: left;}
.customer-account-create .form_main_part_trade .form.create.account .field.field-name-lastname , .customer-account-create .form_main_part_trade .form.create.account .field.company , .customer-account-create .form.create.account .field.zip , .customer-account-create .form.create.account .field.confirmation {
    width: 140px;    float: right;}
.customer-account-create .form_main_part_trade .form.create.account {   padding-left: 0;   padding-right: 0;}
.form_main_part_trade h2 {    font-size: 20px; }
}



@media screen and (max-width: 575px) {  


.block-customer-login-trade {

    padding-left: 0;

}
.login_register_sidebar_main .last_part_link_mobile {
    display: block !important;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    padding-bottom: 20px;
}
.login_register_sidebar_main .last_part_link_mobile a.register_link {    
    font-style: normal;
    font-weight: 500;
    color: #4D4D4D;
    font-size: 20px;
}
.login_register_sidebar_main .last_part_link {
    display: none;
}
.login_register_sidebar_main .site_logo {
    display: none;
}
.block-customer-login-trade h2#block-customer-login-heading {
    margin-bottom: 2px;
}
.block-customer-login-trade .actions-toolbar .secondary {
    float: right;
    margin-bottom: 0;
}
.customer-account-login .login-container .block.block-customer-login {
    max-width: 350px;
    margin-top: 30px !important;
    float: none;
    padding-left: 0px;
    margin: 0 auto;
    padding-right: 5px;
}
.customer-account-login form#login-form fieldset.fieldset.login div {
    margin-top: 5px;
}
.customer-account-login .actions-toolbar .primary button {
    margin-top: 27px;
}
.login_register_sidebar_main {
    padding: 22px 13px 40px;
}
.login_register_sidebar_main .customer_account_create_top_part {
    padding-top: 16px;
}
.customer-account-create .form.create.account .field .nested {
    margin-top: 30px;
}
.form_main_part_trade .form_main_part {
    margin-top: 35px;
    padding-left: 0;
}
.customer-account-create .form.create.account .field.confirmation {
    margin-top: 0;
}
.customer-account-create .form.create.account .field.additional_information input {
    height: 120px;
}
.customer-account-create .block.block-new-login {
    margin-top: 16px;
}
.customer-account-create .login_register_sidebar_main .last_part_link_mobile {
    display: none !important;
}
.customer-account-create .login_register_sidebar_main {
    padding: 0 25px !important;
}
.customer-account-create .form_main_part_trade {
    margin-bottom: 16px;
}
.customer-account-forgotpassword main#maincontent {
    margin-top: 12px;
}
.customer-account-forgotpassword .primary {
    margin-bottom: 5px;
}
.minicart-wrapper .block-minicart {
    width: 320px !important;
}
.wishlist-index-index .wishlist_count {
    top: 12px;
    left: 66%;
}

}

