/*-- fonts css --*/
/* @font-face {
font-family: 'Tiempos Headline Regular';
font-style: normal;
font-weight: normal;
src: url('../fonts/tiempos-headline/TiemposHeadline-Regular.woff') format('woff');
}


@font-face {
font-family: 'Tiempos Headline Regular Italic';
font-style: normal;
font-weight: normal;
src: url('../fonts/tiempos-headline/TiemposHeadline-RegularItalic.woff') format('woff');
}


@font-face {
font-family: 'Tiempos Headline Light';
font-style: normal;
font-weight: normal;
src: url('../fonts/tiempos-headline/TiemposHeadline-Light.woff') format('woff');
}


@font-face {
font-family: 'Tiempos Headline Light Italic';
font-style: normal;
font-weight: normal;
src: url('../fonts/tiempos-headline/TiemposHeadline-LightItalic.woff') format('woff');
}


@font-face {
font-family: 'Tiempos Headline Medium';
font-style: normal;
font-weight: normal;
src: url('../fonts/tiempos-headline/TiemposHeadline-Medium.woff') format('woff');
}


@font-face {
font-family: 'Tiempos Headline Medium Italic';
font-style: normal;
font-weight: normal;
src: url('../fonts/tiempos-headline/TiemposHeadline-MediumItalic.woff') format('woff');
}


@font-face {
font-family: 'Tiempos Headline Semibold';
font-style: normal;
font-weight: normal;
src: url('../fonts/tiempos-headline/TiemposHeadline-Semibold.woff') format('woff');
}


@font-face {
font-family: 'Tiempos Headline Semibold Italic';
font-style: normal;
font-weight: normal;
src: url('../fonts/tiempos-headline/TiemposHeadline-SemiboldItalic.woff') format('woff');
}


@font-face {
font-family: 'Tiempos Headline Bold';
font-style: normal;
font-weight: normal;
src: url('../fonts/tiempos-headline/TiemposHeadline-Bold.woff') format('woff');
}


@font-face {
font-family: 'Tiempos Headline Bold Italic';
font-style: normal;
font-weight: normal;
src: url('../fonts/tiempos-headline/TiemposHeadline-BoldItalic.woff') format('woff');
}


@font-face {
font-family: 'Tiempos Headline Black';
font-style: normal;
font-weight: normal;
src: url('../fonts/tiempos-headline/TiemposHeadline-Black.woff') format('woff');
}


@font-face {
font-family: 'Tiempos Headline Black Italic';
font-style: normal;
font-weight: normal;
src: url('../fonts/tiempos-headline/TiemposHeadline-BlackItalic.woff') format('woff');
}

@font-face {
font-family: 'Futura Bk BT';
font-style: normal;
font-weight: normal;
src: url('../fonts/futura/FutuBk.woff') format('woff');
}

@font-face {
font-family: 'Futura Bk BT Italic';
font-style: normal;
font-weight: normal;
src: url('../fonts/futura/FutuBkIt.woff') format('woff');
}
@font-face {
font-family: 'Futura Bk BT Medium';
font-style: normal;
font-weight: normal;
src: url('../fonts/futura/Futura_20Medium_20BT.woff') format('woff');
}
*/
 @font-face {
    font-family: 'Futura Bk BT Medium';
    src: url('../fonts/futura/FuturaBT-Medium.eot');
    font-weight: 500;
    font-style: normal;
}
@font-face {
    font-family: 'Futura Bk BT Medium';
    src:url('../fonts/futura/FuturaBT-Medium.ttf') format('truetype'),
        url('../fonts/futura/FuturaBT-Medium.svg#FuturaBT-Medium') format('svg');
    font-weight: 500;
    font-style: normal;
}
@font-face {
    font-family: 'Futura Bk BT italic';
    src: url('../fonts/futura/FuturaBT-BookItalic.eot');
    font-weight: normal;
    font-style: italic;
}
@font-face {
    font-family: 'Futura Bk BT italic';
    src:url('../fonts/futura/FuturaBT-BookItalic.ttf') format('truetype'),
        url('../fonts/futura/FuturaBT-BookItalic.svg#FuturaBT-BookItalic') format('svg');
    font-weight: normal;
    font-style: italic;
}


@font-face {
    font-family: 'Tiempos Headline Regular';
    src: url('../fonts/tiempos-headline/TiemposHeadline-Regular.eot');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Tiempos Headline Regular';
    src:url('../fonts/tiempos-headline/TiemposHeadline-Regular.ttf') format('truetype'),
        url('../fonts/tiempos-headline/TiemposHeadline-Regular.svg#TiemposHeadline-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
}



@font-face {
    font-family: 'Tiempos Headline Semibold';
    src: url('../fonts/tiempos-headline/TiemposHeadline-Semibold.eot');
    font-weight: 600;
    font-style: normal;
}
@font-face {
    font-family: 'Tiempos Headline Semibold';
    src:url('../fonts/tiempos-headline/TiemposHeadline-Semibold.ttf') format('truetype'),
        url('../fonts/tiempos-headline/TiemposHeadline-Semibold.svg#TiemposHeadline-Semibold') format('svg');
    font-weight: 600;
    font-style: normal;
}


@font-face {
    font-family: 'Futura Bk BT';
    src: url('../fonts/futura/FuturaBT-Book.eot');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Futura Bk BT';
    src: url('../fonts/futura/FuturaBT-Book.ttf') format('truetype'),
        url('../fonts/futura/FuturaBT-Book.svg#FuturaBT-Book') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Tiempos Headline Bold';
    src: url('../fonts/tiempos-headline/TiemposHeadline-Bold.eot');
    font-weight: bold;
    font-style: normal;
}
@font-face {
    font-family: 'Tiempos Headline Bold';
    src: url('../fonts/tiempos-headline/TiemposHeadline-Bold.ttf') format('truetype'),
        url('../fonts/tiempos-headline/TiemposHeadline-Bold.svg#TiemposHeadline-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Tiempos Headline Medium';
    src: url('../fonts/tiempos-headline/TiemposHeadline-Medium.eot');
    font-weight: 500;
    font-style: normal;
}
@font-face {
    font-family: 'Tiempos Headline Medium';
    src: url('../fonts/tiempos-headline/TiemposHeadline-Medium.ttf') format('truetype'),
        url('../fonts/tiempos-headline/TiemposHeadline-Medium.svg#TiemposHeadline-Medium') format('svg');
    font-weight: 500;
    font-style: normal;
}




body{
	font-family: 'Futura Bk BT' !important;
}
/*-- button a tag css --*/
.action.primary,a,.box,a:after{
	-webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -o-transition: all 1s ease;
    -ms-transition: all 1s ease;
    transition: all 1s ease;
}
a:hover,a:focus{
	color:#000 !important;
}
a:hover{
	text-decoration: none !important;
}
.label{color:#4d4d4d !important;}
.action.primary{
	background:#EDB6BB !important;
	font-family:'Futura Bk BT' !important;
	color: #ffffff;	
	border:0px !important;
}
.action.primary:hover{
	opacity: 0.8;
}
.button-pink{
	background: #EBB4B9;
	text-align: center;
	align-items: center;
	justify-content: center;	    
	color: #4D4D4D !important;
}
.button-pink:hover{
	background:#E3AEB3;
	color:#000 !important;
	text-decoration: none !important;
}
/*-- header footer css --*/
@media (min-width: 768px){
	body .navigation, .breadcrumbs, body .page-header .header.panel, body .header.content, body .footer.content, body .page-wrapper > .widget, body .page-wrapper > .page-bottom, body .block.category.event, body .top-container, body .page-main{
		max-width: 1264px;
	}	
	header .panel.header{
		display:none;
	}
	.header-topicons{
		width:auto;float:right;     padding: 0;    margin: 0;
	}
	.header-topicons li{display:inline-block;    padding: 0 17px;    margin-bottom: 0;}
	.header-topicons li img{ width: 18.67px;}
	header .block-search{float:left;}
	header .section1{width:30%;float: left;}
	header .section3{width:27%;float: left;}
	header .logo{width:40%;float: left;    margin-bottom: 0;margin-right:0px;}
	header .logo img{    margin: 12px auto 5px;}
	header .minicart-wrapper{
		width: 10%;		
	}

	.section1 .button-pink{
	    display: flex;
	    flex-direction: row;	    
	    width: 120px;
	    height: 40px;	    
	    font-size:14px;	    
	}
	header .header.content
	{
		padding:3px 20px 4px;
		display: flex;
    	align-items: center;		
	}
	
	header.page-header .panel.wrapper {
	    border-bottom: 0px solid #e8e8e8;
	    background-color: #6e716e;
	    border: 0;
	    margin-bottom: 0;
	}
	
	header.page-header{
		    margin: 0px 0 0px;
		    padding-bottom: 0;
	} 
	.navigation .menu-left-block{
		    text-align: left;
	}
	.navigation .menu-left-block .titlle{
		font-size:14px;
		color: #212121;
		text-transform: uppercase;
		padding-bottom: 20px;
		font-weight: 500;
		font-family: Futura Bk BT Medium;		
	}
	.navigation .menu-left-block ul{padding: 0;}
	
	.navigation .menu-left-block ul li{padding:0px 0px 20px 0px !important;}

	.navigation .menu-left-block ul li a{padding:0 !important; font-size:14px !important;color: #424242 !important;}
	.navigation.sw-megamenu .submenu{padding:40px 8px 10px !important;margin:0 30px 0 0 !important;    border: 1px solid #EEEEEE !important;}	
	
	.navigation .menu-left-block ul.productimages li a{
		color:#000 !important;
		font-size:16px !important;
		text-transform: uppercase;
		font-family: Futura Bk BT Medium;
		letter-spacing: 0.04em;
	}
	.navigation .menu-left-block ul li a:hover{
		text-decoration: none !important;
	}
	.navigation.sw-megamenu .menu-left-block ul li.viewall a
	{
		font-size: 15px !important;
		color: #F87883 !important;
	}
	.navigation.sw-megamenu .menu-left-block ul li.viewall a:after{
		content:'\f178';
		font-family: 'fontAwesome';		
	}	

	.navigation.sw-megamenu .level0 > .level-top
	{
		    color: #4D4D4D;
		    font-family: Futura Bk BT;
		    letter-spacing: 0.03em;
	}
	header .amsearch-item-container.category
	{
		width:30%;
		float:left;
	}
	header .amsearch-products.product
	{
		width:70%;
		float:right;
	}	
	.page-wrapper.stickymenu .nav-sections.sections{
	    position: fixed;
	    top: 0px;
	    width: 100%;
	    z-index: 2;
	    background: #fff;	
	}
	.page-wrapper.stickymenu header .minicart-wrapper{
		    position: fixed;
    		top: 8px;
    		z-index: 3;
    		right:30px;    		    		
	}
	.page-wrapper.stickymenu header .section1{
		    position: fixed;
    		top: 2px;
    		z-index: 3;
    		left: 30px;
    		width: auto;
	}

}
/*@media (min-width: 1024px){
	.catalog-category-view.page-products .products-grid .product-item{
		width: calc((100% - 6%)/3);	
	}	
}*/
header .block-search.active{
	display:block !important;
	position: absolute;
	top:75px;
}
.subchildmenu.col-md-0.mega-columns.columns4
{
		display:none;
}
	header .minicart-wrapper .action.showcart:before,header .minicart-wrapper .action.showcart.active:before
	{
		content:'';
		background: url(../images/shopping-bag.png) no-repeat;
    	background-size: 100%;
    	width: 18.67px;
    	height: 24px;
    	background-position: 0 3px;
	}
.navigation.sw-megamenu
{
	    background: #fff;text-align:center;
}
.sections.nav-sections{background:#fff;}
.navigation.sw-megamenu .level0 a{
	font-style: normal;
    font-weight: 500;
    font-size: 14px;
    letter-spacing: 0.5px;
}
.sw-megamenu.navigation li.level0 > .level-top {
    text-transform: uppercase;
}
.navigation.sw-megamenu .level0 a:hover{
	color:#000;
}
.news_bar
{	
	background: linear-gradient(0deg, #EDB6BB, #EDB6BB), linear-gradient(0deg, #5CA16C, #5CA16C), rgba(255, 255, 255, 0.5);
    height: 38px !important;    
    align-items: center;
    display: none;
    justify-content: center;
    font-size: 14px;
    color: #4D4D4D;
}
.cms-index-index .news_bar{
	display: flex;
}
.news_bar:before{
    content: '';
    background: url(../images/information.png) no-repeat;
    width: 16px;
    margin-right: 5px;
    background-size: 100%;
    height: 16px;
}
.news_bar a{
	color: rgba(77, 77, 77, 0.8);
    padding-left: 20px;
    text-transform: none;	
}
.news_bar a:after{
	content:'';
	background: url('../images/right-arrow.png') no-repeat;		
    width: 16px;
    height: 16px;
    background-size: 100%;
    display: inline-block;
	margin-left: 5px;
    background-position: 0px 4px;
}
header .minicart-wrapper .action.showcart .counter.qty .counter-number{
	    background: #EDB6BB;
    	height: 16px;
    	line-height: 16px;
    	min-width: 16px;
    	float: right;
    	position: absolute;
    	left: 9px;
    	top: 0;
    	border-radius: 50px;
    	font-size: 10px;
}
header .minicart-wrapper .action.showcart .counter.qty
{
	background: transparent;
}

header .minicart-wrapper .total-price.subtotal{
    margin-left: 10px;
    background: transparent;
    color: #4D4D4D;
    font-size: 14px;
}
.search-toggle-icon img,.search-toggle-icon1 img{
	width:18.67px;
}

header .block-search .control input
{
	height: 50px;		
	border: 1px solid #EEEEEE !important;
	font-family: 'Futura Bk BT' !important;
}
header .block-search .action.search:before
{
	line-height: 50px;
}
header .block-search .label.active + .control input:focus{
	box-shadow: none;
}
.amsearch-form-container.-opened .input-text{	
	font-family: 'Futura Bk BT' !important;
	text-transform: uppercase;
    letter-spacing: 0.5px;	
}
.amsearch-form-container .input-text:focus{
	box-shadow: none !important	
}
.search .amsearch-loupe{
	right:10px;left:unset;
}
.amsearch-close{
	left:10px;right:unset;
}
header .block-search .search-autocomplete
{
	top:50px;
	border-top:1px solid #EEEEEE;
}
header .amsearch-item-container > .amasty-xsearch-block-header:before{
	display:none;
}
header .amsearch-item-container > .amasty-xsearch-block-header,header .amasty-xsearch-block-header{
	font-size: 14px;    
    letter-spacing: 0.04em;
    text-transform: uppercase;
    color: #212121;	
    padding: 0;
    font-family: Futura Bk BT Medium;
}

header .amsearch-item-container.category,header .amsearch-products
{
	padding:30px;
}
header .amsearch-item-container .amsearch-item{	padding: 20px 0 0;}
header .amsearch-results .amsearch-item .item-name,header .amsearch-item-container .amsearch-highlight{font-size: 14px;    color: #424242;font-weight: normal;}
header .amsearch-form-container .amsearch-results{
	flex-direction: row;
}

header .amsearch-wrapper-content > .amsearch-item:hover{
	box-shadow: none;
}
header .amsearch-results .amsearch-item:hover,header .amsearch-wrapper-content > .amsearch-item:before
{
	background-color:transparent;
}
header .amsearch-wrapper-content .amsearch-item.product-item
{
	    flex-direction: column;
	    width:50%;
	    float: left;
	    padding: 0;
}
header .amsearch-wrapper-content .amsearch-item.product-item .product-item-link{
	    color: #000000;
	    font-family: Futura Bk BT Medium;
	    text-transform: uppercase;
    	margin-bottom: 10px;
}
header .amsearch-products .amsearch-highlight{
	background-color: transparent;color:#000;padding:0;
}
header .amsearch-wrapper-inner{
	margin-top:0 !important;
}
header .search .amsearch-autocomplete-information .price
{
	font-family: Futura Bk BT Medium;
	color:#000;
}
.nav-sections.sections{
	margin-bottom: 0;
}
/*.sections.nav-sections.stickymenu .navigation.sw-megamenu{
    position: fixed;
    top: 0;
    max-width: 100%;
    padding: 0;
}*/
.wishcart .link.wishlist .counter:before,.wishcart .link.wishlist .counter:after{display: none;}
.wishcart .link.wishlist{position: relative;}
.wishcart .link.wishlist .counter{
	position: absolute;
	background: #EDB6BB;
    height: 16px;
    line-height: 16px;
    min-width: 16px;
    border-radius: 50%;
    color: #fff;
    font-size: 10px;
    text-align: center;
    top: -10px;
    right: -8px;
}
footer.page-footer {
    background: #EDB6BB;
    padding: 60px 0px 100px;
    margin-top: 60px;
}
.max-width-section{
	max-width: 1280px;    
    margin: 0 auto;
}
footer.page-footer ul{
	list-style: none;
    padding: 0;
}
footer.page-footer ul li a,footer.page-footer p,footer.page-footer a{
	font-size: 14px;
	color: #4D4D4D;
}
footer.page-footer ul li a:hover{text-decoration: none;}
footer.page-footer ul li{
	margin: 20px 0 0 0px;
}
footer.page-footer .ftitle{
	font-family:Futura Bk BT Medium;font-size: 14px;text-transform: uppercase;color:#4d4d4d;letter-spacing: 0.04em;
}
footer.page-footer .ftitle.last img{
	padding-right:10px;
}
footer.page-footer p{
margin: 20px 0px;
}
.phone:before{	 
	content:'';
	background: url(../images/call.png) no-repeat;
	height: 15px;
    width: 15px;
    background-size: 100%;
    display: inline-block;
    margin-right: 10px;
} 
.mailto:before{	
	content:'\f003';
	    padding-right: 10px;
	font-family:'fontAwesome';	
}

.readmore:after{
    content: '';
    background: url(../images/right-arrow.png) no-repeat;
    width: 16px;
    height: 16px;
    background-size: 100%;
    display: inline-block;    
    margin-left: 5px;
    background-position: 0px 4px;	
}
.readmore:hover:after{
	transform: translateX(10px);    
    display: inline-block;
    background: url(../images/right-arrow-h.png) no-repeat;
    background-position: 0 4px;
}
footer.page-footer ul.socialicons li{display:inline-block;padding:0 12px;}
footer.page-footer ul.socialicons li:first-child{padding-left:0px;}
footer.page-footer ul.socialicons a .h-img{display:none;}
footer.page-footer ul.socialicons a:hover .h-img{
	display: block;
}
footer.page-footer ul.socialicons a:hover .nh-img{
	display:none;
}
.socialicons img {
    vertical-align: unset;
}
.nopadding{padding:0 !important;}
.copyright.footerc{
    background-color: #EDB6BB;
    color: #4D4D4D;
    font-size: 14px;
    text-align: left;
	border-top: 1px solid rgba(0, 0, 0, 0.2);  
	padding: 22px;
}
.copyright.footerc span{
	padding: 0 20px;
}

/*-- home content ---*/
body.cms-index-index .page-main{
	max-width: 100%;
	padding:0;
}
.insta{
	margin-top: 50px;
	text-align:center;
}

.cms-index-index #banner-slider-carousel
{
	margin-top: 0;
}
.featureblock{
	margin: 60px 0px 50px 0px;
	display: flex;
    align-items: center;
    height: 144px;    
}
.content-sub {
	color: #FF9CA5;
	font-size:14px;
	letter-spacing: 0.05em;
	text-transform: uppercase;
	font-family: Futura Bk BT Medium;
}
.content-title {
	font-family: Tiempos Headline Medium !important;
	font-size: 32px !important;
	color: #4D4D4D !important;
	margin-top:5px !important;
	margin-bottom: 50px;
}
.insta .content-title{margin-bottom: 0px;}
.featureblock .content-title{
	margin-bottom: 0px;
}
.featurecategories{
	margin-top: 100px;
}
.featurecategories .box{
	margin-bottom:50px;
	background: #F6F6F8;
	padding: 20px;
}
.featurecategories .box:hover{
	background: #EEEEF8;
}
.content-right{
	font-size:15px;
	color:#4D4D4D;
	padding-left:40px !important;
}
.content-right a{
	color: #4D4D4D;
	text-decoration: none !important;
	font-family: Futura Bk BT Medium;
}
.content-right a:after{
	content:'\f178';
	font-family: 'fontAwesome';	
	padding-left: 10px;
}
.content-right a:hover:after{
	transform: translateX(10px);
	color: #4D4D4D;
	display: inline-block;
}
.featurecategories .box:hover .sub-title-category,.featurecategories .box:hover p,.featurecategories .box:hover a{
	color:#000;
}
.line{
	border-right: 1px solid #9E9E9E;
    height: 144px;
    margin-left: 50px;
}

.featurep-collection .product-name{
	color: #4D4D4D;
	font-size: 16px;
	font-family:Futura Bk BT Medium;
}
.featurep-collection .product-price{
	margin-top:8px;
	font-size: 15px;
	color: #616161;
	font-family:Futura Bk BT;
}
.featurep-collection .product-detail{
	margin-top: 14px;
}
.benefits{
	margin: 100px 0px;
}
.benefits img{
	height:70px;
	margin-bottom: 17px;
}
.benefit-title{
font-size: 15px;
color: #4D4D4D;
font-family:Futura Bk BT Medium;
}
.benefit-desc{
	color: rgba(0, 0, 0, 0.5);
	font-size: 13px;
	font-family: Futura Bk BT;
}
.benefits .box1,.benefits .box2,.benefits .box3{
	border-right: 1px solid #EFA8E4;
    padding: 10px;
}
.benefits .box1,.benefits .box2,.benefits .box3,.benefits .box4{ transition: transform .2s;padding: 40px 20px;}
.benefits .box1:hover,.benefits .box2:hover,.benefits .box3:hover,.benefits .box4:hover{
	background: #EDB6BB;
	transform: scale(1.1); 
	border-radius: 4px;
}
.sub-title-category{
	font-size: 26px;
	font-family: 'Tiempos Headline Semibold';	
	color: #4D4D4D;
	margin-bottom: 10px;
}
.featurecategories p{
	font-size: 15px;
	font-family: Futura Bk BT;
	color: #4D4D4D;
}
.featurecategories a{
	color: #4D4D4D;
	font-size: 16px;
	font-family: 'Futura Bk BT Medium';
}
.featurecategories .details
{
	padding:20px;
}
.sub-desc .titlemain{
    font-size: 32px;
    color: #4d4d4d;
    margin-bottom: 29px;	
    position:relative;
}
.titlemain{
	content:'';
	background: url('../images/PinkBlob.svg') no-repeat;
    height: 50px;    
    display: inline-block;
    position: absolute;
    top: 0;
    left: 0;        
    background-size: 50px;        
    padding-left: 5px;
}
.story-desc{    
	padding-right: 200px;
}
.sub-desc p{
	font-size: 16px;
	color: #616161;
	margin-bottom: 29px;
}
.transparent-button{
	font-size: 15px;
	color: #4D4D4D !important;	
	width:140px;
	border: 1px solid #4D4D4D;
	height: 40px;
	display: flex;
	align-items: center;
	justify-content: center;
}
.transparent-button:hover{
	background: #000;
	border:1px solid #000;
	color:#fff !important;
	text-decoration: none !important;
}
.our-story{
	display: flex;
    align-items: flex-end;
}
.awards-brands,.max-newsletter,.brochure{
	margin-top: 100px;
}
.awards-brands .item
{
	padding: 0px 10px;
    text-align: center;
}
.max-newsletter .content-title,.brochure .content-title{
	margin-bottom: 0px;	
}
.max-newsletter{
	align-items: center;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
}
.subscribe
{
	font-weight: normal;
	border-radius: 0px;
	padding:10px;
    width: 128px;
    height: 40px;
    align-items: center;
    display: flex;
    justify-content: center;
    color:#fff !important;	
}
.max-newsletter p{
	margin-bottom:30px;
	color: #616161;
	font-size: 15px;
}
.brochure .imglogo img{
	width:247px;
}
.brochure p{
	margin-top: 10px;
	color:#666;
}
.grey-btn,.grey-btn:hover,.grey-btn:visited
{
    background: #4D4D4D !important;
    text-align: center;
    float: right;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff !important;
    transition: 0.3s;	
    text-decoration: none !important;
    width:224px;
    height:60px;
}
.brochure{
	display: flex;
    align-items: center;
}
.grey-btn img{
	width: 18px;
    margin-left: 10px;
}
.product-detail-action{
	position: absolute;top:14px;right:28px;
	opacity: 0;
    -webkit-transition: all 500ms ease-in-out;
    -moz-transition: all 500ms ease-in-out;
    -ms-transition: all 500ms ease-in-out;
    -o-transition: all 500ms ease-in-out;
    transition: all 500ms ease-in-out;
}
.action-button button,.action-button a.towishlist{
	padding: 0 !important;
    border: 0;
    background: rgba(255, 255, 255, 0.9);
    width: 34px !important;
    height: 34px;
    margin-bottom: 14px;    
}
.action-button a.towishlist{
	display: flex !important;
    justify-content: center;
    align-items: center;
}
.featurep-collection .item:hover .product-detail-action,.product-item-info:hover .product-detail-action{
	opacity: 1;
}
.mobileview,.tabletview{display:none !important;}
.owl-theme .owl-dots .owl-dot span{
	    width: 8px !important;
    height: 8px !important;
}
.owl-theme .owl-dots .owl-dot span{
	    background: rgba(0, 0, 0, 0.2) !important;
}
.owl-theme .owl-dots .owl-dot.active span, .owl-theme .owl-dots .owl-dot:hover span{
	    background: rgba(0, 0, 0, 0.5) !important;
}
.owl-theme .owl-dots .owl-dot{
	box-shadow: none !important;
}
.cms-index-index #banner-slider-carousel .owl-dots{
	bottom: 30px;
}
.cms-index-index #banner-slider-carousel .owl-nav{
	opacity: 1;
}
#banner-slider-carousel .owl-nav .owl-next span,#banner-slider-carousel .owl-nav .owl-prev span{display: none !important}
#banner-slider-carousel .owl-nav .owl-next:after,#banner-slider-carousel .owl-nav .owl-prev:after{
	content:'\f054';
	font-family: fontAwesome;
	color: #000;
    font-size: 15px;
}
#banner-slider-carousel .owl-nav .owl-prev:after{ 
	content:'\f053';
}
/*--list page --*/
.page-title
{
	font-family: 'Tiempos Headline Medium';font-size: 32px;color:#4d4d4d;
}
.catalog-category-view .page-title span{
    font-size: 14px;
    color: #616161;
    font-family: 'Futura Bk BT';
}
.breadcrumbs{
	padding: 0 !important;
	margin: 0 auto 30px !important;
}
.breadcrumbs .item:not(:last-child):after{
	    color: #757575 !important;
	    content: '/' !important;
	    font-size: 20px !important;
}
.breadcrumbs a,.breadcrumbs a:visited,.breadcrumbs strong{
	color: #757575 !important;
	font-size:14px !important;
}
.catalog-category-view .columns{
	margin-top: 36px;
}
.toolbar .toolbar-sorter.sorter .sorter-label{
	    font-family: 'Futura Bk BT';
	    font-size:13px;
	    font-weight: normal;
}
.toolbar .toolbar-sorter.sorter select{
	background-color: #fff;
	box-shadow: none;
	border-radius: 0px;	
	border: 1px solid #E0E0E0;
    width: 210px;
    height: 36px;	
    font-family: 'Futura Bk BT Medium';
    font-size:13px;
}
.toolbar .action.sorter-action{
	display:none;	 
}
.page-products.catalog-category-view .product-item-info{
	width: 100%; position: relative;
}
.page-products .products-grid .product-item-info:hover, .page-products .products-grid .product-item-info.active{
	box-shadow: none;
	border:0;
	padding:0;
	margin: 0;
}
.page-products .filter .block-subtitle{
	display:none;	
}
.filter-options-title{
	color: #4d4d4d !important;
    font-size: 18px;
    font-weight: normal;   
    text-transform: capitalize;     
}
.filter-options-item{
	border-bottom: 0px;
}
.filter-options-content .items a,.filter-options-content .items a .label,.am-swatch-options .am-shopby-swatch-label,.am-swatch-options .am-shopby-swatch-label .label{
	font-size: 13px;
	font-weight: normal;
	color:#4d4d4d !important;
}
.filter-options-content a:hover{
	background-color: transparent ;
}
.filter-options-content input[type="radio"],.filter-options-content input[type="checkbox"]{
	display: inline-block;
    position: relative;
    background-color: #fff;
    color: #4d4d4d;
    top: 0;
    height: 18px;
    width: 18px;    
    cursor: pointer;
    outline: none;
    margin: 0!important;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border-radius: 0px;
    border: 1px solid #BDBDBD;
    min-width: 18px;
}
.filter-options-content input[type="radio"]:focus,.filter-options-content input[type="checkbox"]:focus{
	outline:none;
	box-shadow: none;
}
.filter-options-content input[type="radio"]:checked,.filter-options-content input[type="checkbox"]:checked{
	background-color: #4d4d4d;
	color:#fff;
	border: 0px !important;
	text-align: center;
}
.filter-options-content input[type="radio"]:checked:hover,.filter-options-content input[type="checkbox"]:checked:hover{
	background-color: #000000;
}
.filter-options-content input[type="radio"]:hover, .filter-options-content input[type="checkbox"]:hover{
	background-color: #FAFAFA;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}
.filter-options .swatch-option,.am-filter-current .am-filter-value .am-swatch-options .swatch-option{
	display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
    width: 22px;
    height: 22px;
    min-width: 22px;
    cursor: pointer;
    margin: 0!important;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}
.filter-options .swatch-option,.filter-options .swatch-option:hover,.am-filter-current .am-filter-value .am-swatch-options .swatch-option,.am-filter-current .am-filter-value .am-swatch-options .swatch-option:hover{
	border-radius: 100%;
	outline: none !important;
	border: 0px solid #BDBDBD !important;
}
.filter-options .swatch-option:hover,.am-filter-current .am-filter-value .am-swatch-options .swatch-option:hover{
	opacity: 0.3;
}
.filter-content .item{
	display: flex;
	margin: 13px 0 !important;
}
.filter-options-title:after,.filter-options-content .count{display:none;}
#narrow-by-list .filter-options-content .am-swatch-wrapper{
	    margin: 13px 0px !important;
}
.filter-options .filter-options-content .am-shopby-swatch-label .label{
    display: inline-flex;
}

.page-products .products-grid .product-item-inner{
	    padding: 0;
	    position: absolute !important;
	    border: 0px !important;
	    background: transparent !important;
	    height: auto !important;
	    overflow: auto !important;
	    clip: unset !important;
	    margin: auto !important;
	    width: auto !important;
	    box-shadow: none !important;
	    top:0;
	    right:0;
}
.filter-options-content .am-shopby-form a{
    margin-left: 0;
    color: #4d4d4d;
}
.swatch-option-link-layered input[type=checkbox]:checked + .am-swatch-link > .swatch-option.selected:before
{
	content:'';	
	background:url('../images/sign-grey.png') no-repeat;
	background-size:100%;
	width:10px;
	height:8px;
}
.filter-options-content input[type="radio"]:checked:after,.filter-options-content input[type="checkbox"]:checked:after{
	/* background:url('../images/sign-white.png') no-repeat; */
	content:'\f00c';
	font-family: 'fontAwesome';
	color:#fff;
	font-size: 14px;
}
.filter-options .filter-options-content .am-shopby-form,.filter-options .am-swatch-options{
	padding:0;
}
.page-products .sidebar.sidebar-main
{
    margin-top: 45px;
}
.filter-options-content .am-show-more{
	color:#F87883;
	font-size: 11px;
	text-transform: uppercase;
	font-family: Futura Bk BT Medium;
	letter-spacing: 0.03em;
}
.filter-options-content .am-show-more:hover{
	color: #ED737E !important;
}
.filter-options .filter-options-content .am-show-more .am-counter{
	opacity: 1;	
}
.filter-options .filter-options-content .am-show-more:after,.filter-options .filter-options-content .am-show-more:before{
	display:none;
}
.products.products-grid .product-item-actions{
    margin: 0px 0 10px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
    align-content: center;
}

.catalog-category-view.page-products .products-grid .product-item{
	width: 31.439%;
    margin: 0 0.9% !important;
}
.products-grid .product-item-name .product-item-link{
    font-size: 14px;
    color: #4d4d4d;
}
.products-grid .product-item .price-box .price{
	color: #616161;
    font-family: Futura Bk BT Medium;
    font-size: 14px;
}
.products-grid .swatch-option{ height: 24px;min-width: 24px;border:1px solid #BDBDBD !important; border-radius: 100%;}
.products-grid .swatch-option.selected,.products-grid .swatch-option:hover{
	outline: none !important;
	transform-style: preserve-3d;
    border: 2px solid #fff !important;
    box-shadow: 0 0 0 1px #000 !important;
}
.products-grid .product-item .action.towishlist:before{
	display:none;
}
.page-products .products-grid .product-item-inner:before,.swatch-option-tooltip{display:none !important;}
.product-item-info .product-detail-action{
	top: 14px;
    right: 14px;
    z-index: 1;
}
.bottom-toolbar .limiter,.bottom-toolbar .toolbar-sorter.sorter{
	display: none !important;
}
.product-item-info .product-image-photo{
	width: 100% !important;
}
.bottom-toolbar .toolbar .pages{
	width: 100%;display: block;
}
.bottom-toolbar .pages strong.page{
	background: #4d4d4d;        
    color: #fff;    
    width: 30px;
    height: 30px;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.12);	
    font-size: 15px;
    border-radius: 2px;    
}
.bottom-toolbar .pages strong.page:hover{
	background: #000;        
}
.bottom-toolbar .pages a.page
{
	background: #F5F5F5;        
    color: #000;    
    width: 30px;
    height: 30px;    	
    font-size: 15px;    
}
.bottom-toolbar .pages a.page:hover
{
	    background: #eee;
}
.bottom-toolbar .pages .item{
	    margin: 0 8px 0 16px;
	    font-size:15px;
}
.pages .action.next:visited:before,.pages .action.next:before,.pages .action.previous:visited:before,.pages .action.previous:before{
	display:none !important;
}
.bottom-toolbar .pages .action.next>span,.bottom-toolbar .pages .action.previous>span{
    margin: auto;
    overflow: hidden;
    padding: 0;
    position: relative;
    width: auto;
}
.bottom-toolbar .pages .action{
	box-shadow: none;
	background: transparent;
	border:0px;
	font-size: 16px;
}
.bottom-toolbar .pages .action.next:after,.bottom-toolbar .pages .action.previous:after{
	content:'';
    background: url(../images/right-arrow.png) no-repeat;
    width: 16px;
    height: 16px;
    background-size: 100%;
    display: inline-block;      
    background-position: 0 4px;      
}
.bottom-toolbar .pages .action.previous:after
{
	background: url(../images/left-arrow.png) no-repeat;
	background-size: 100%;
	background-position: 0px 4px;
}
.bottom-toolbar .pages .action.previous>span{
	float: right;
    height: auto;
    padding-left: 8px;	
}
.bottom-toolbar .pages-item-next{float:right;}
.bottom-toolbar .pages-item-previous{float:left;}
.products .product-item .price-box .price-label{
	display:none;
}
.products-grid .product-item .price-box .old-price .price {
    font-size: 12px;
    text-decoration-line: line-through;
    color: #9E9E9E;
}
.product-label.sale-label{
	background: #EDB6BB;
    width: 71px;
	height: 22px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 12px;
    color: #000;
    position: absolute;
    top: 0;
    z-index: 1;
}
.catalog-product-view .product-label.sale-label{display: none;}
.filter-current.am-filter-current{
	position: absolute;
    right: 0;    
    width: 79.16666667%;
    padding-left: 2%;
    top: 124px;
}
.filter-current.am-filter-current .items li{
	display:inline-block;	
	padding: 0 32px;
	margin: 3px 0 !important;
}
.filter-current.am-filter-current .items li:first-child{
	padding:0px 32px 0px 0px;
}
.filter-current.am-filter-current .items li:hover{
	    background: #EEEEEE;
}
.filter-current.am-filter-current .action.remove {
    right: 0px;
    left:unset;
    position: absolute;
    top: 0px;
}
.filter-current.am-filter-current .filter-value{color:#4d4d4d;}
.filter-current.am-filter-current .items li .filter-clear{
	color: #616161;
}
.filter-current.am-filter-current .am-shopby-swatch-label{
	margin-left: 0;
}
.filter-current.am-filter-current .items
{
	padding:0;
}
.swatch-attribute-options #loadMore{
	line-height: 24px;
    font-size: 12px;
    color: #616161;
    cursor: pointer;
}
.psku{
	font-size: 13px;
    color: #9E9E9E;
    margin-bottom: 10px;
}
.product-info-price .price-box .price-container .price{
	color: #4D4D4D;
    font-size: 17px !important;
    font-family: Futura Bk BT Medium;
}
.product-info-main .product-info-price .price-box .price-container > span.price-label,.product-info-main .swatch-attribute-label{
	display:none;
}
.product-info-main .product-info-price{
	border-bottom: 0px !important;
	margin-bottom: 0px !important;
}
.product-info-main .product-add-form{
	padding-top: 0 !important;
}
.product-options-wrapper .swatch-opt{margin: 0px 0;}
.product-options-wrapper .swatch-attribute-selected-option{
	    padding-left: 0;
}
.product-options-wrapper .swatch-option{
	height: 30px;
	border:0px;
	border-radius: 100%;
	margin: 0 14px 5px 0;
}
.product-options-wrapper .swatch-option:hover,.product-options-wrapper .swatch-option.selected,.product-options-wrapper .swatch-option:focus{
	outline: none !important;
    transform-style: preserve-3d;
    border: 2px solid #fff !important;
    box-shadow: 0 0 0 1px #000 !important;
}
.psku span{
	text-transform: uppercase;
}
.product-add-form{position:relative;}
.share-medias{
	position: absolute;
    top: 5px;
    right: 0;
    font-size: 14px;
    color: #4d4d4d;
    display: flex;
    align-items: center;
    cursor: pointer;
}
.share-medias img{
	margin-right: 5px;
}
.product-info-main .product-add-form .product-options-bottom .box-tocart{
	    margin-top: 40px;
}
.box-tocart .action.primary.tocart.grey-btn{
	background: #4D4D4D !important;
	padding: 0;
    width: 250px !important;
    height: 40px;
    border-radius: 0px;
    float: left;
    font-weight: normal;
    font-size: 15px;
}
.box-tocart .action.primary.tocart.grey-btn span:before{
	content:'';
	background: url('../images/shopping-bag_p.png') no-repeat;
	background-size: 100%;
	width:20px;
	height:20px;
	display:inline-block;
	margin-right: 5px;
}
.box-tocart .action.primary.tocart.grey-btn span{
	align-items: center;
    display: flex;
    justify-content: center;
}
.product-addto-links .action.towishlist{
	color: #4d4d4d;
    border: 1px solid #4d4d4d;
    height: 40px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 200px;
    text-transform: capitalize;
    font-weight: normal;
    font-size:15px;
    letter-spacing: 0;
}
.product-addto-links{float: right;}
.product-social-links .product-addto-links .action.towishlist:before{
	content:'';
	background: url('../images/heart.png') no-repeat;
	background-size:100%;
	width:20px; 
	height:20px;
}
.benefits-ul{
	list-style: none;
	margin-top: 50px;
}
.benefits-ul li{
	display: inline-block;
	text-align: center;
	padding: 0 40px;
}
.benefits-ul li p{color:#212121;margin-top: 20px;}
.benefits-ul li:after{
	content: '';
    border-right: 1px solid #E0E0E0;
    display: inline-block;
    width: 1px;
    height: 70px;
    position: absolute;
    top: 15px;
    right: 0;
}
.benefits-ul li:last-child:after{display: none;}
.product-info-main .product-info-price .old-price .price-wrapper .price{
	font-size:14px !important;
	text-decoration-line: line-through;
    color: #9E9E9E;
}
.product-info-main .product.attribute.overview
{
	width:100%;float:left;margin:50px 0px 20px !important;
}
.product-coll{
	width:100%;float:left;
}
.product-info-main .product.attribute.overview .type,.p-title,.product-coll h3{
	font-size: 13px;
    text-transform: uppercase;
    letter-spacing: 0.04em;
    font-weight: normal;
    font-family: Futura Bk BT Medium;
    margin-bottom: 14px;
    cursor: pointer;
}
.product-coll h3{
	margin-bottom: 35px;
}
.product-coll h3:after{
	content:'\f067';
	font-family: 'fontAwesome';
	color:#212121;
	float: right;
}
.product-coll.active h3:after{
	content:'\f068';	
}
.product-info-main .product.attribute.overview .value{
	margin-top: 14px;
}
.additional-attributes td{
	    border: 1px solid #E0E0E0;
	    color: #616161;
}
.additional-attributes td p{ color: #424242;}
.content-more-info{margin-bottom: 30px;}
.catalog-product-view .breadcrumbs{
	padding: 30px 30px 0px !important;
}
.fotorama__thumb-border{
	border:0px !important;
}
.fotorama__arr__arr{
	background-image: none !important;
}
.fotorama__arr__arr:active{
	background-color: transparent !important;
}
.fotorama__arr--next .fotorama__arr__arr:after{
    content: '\f054';
    font-family: fontAwesome;
    color: #4d4d4d;
    font-size: 15px;
}
.fotorama__arr--prev .fotorama__arr__arr:after{
	content: '\f053';
    font-family: fontAwesome;
    color: #4d4d4d;
    font-size: 15px;	
}
@media (max-width: 1230px)
{
	header .section1{width:30%;}
	header .logo{width:40%;}
	header .section3{width:20%;}	

}
@media (max-width: 1175px)
{
	.header-topicons li{
	    padding: 0 10px;	    
	}
}
@media (max-width: 1024px)
{
	.header-topicons li{
	    padding: 0 5px;	    
	}
	.tabletview{display:block !important;}
	.desktopview{display:none !important;}
		.benefits .box1, .benefits .box2, .benefits .box3{
		    border-right: 0px solid #EFA8E4;
	}
	.benefits .box1:hover, .benefits .box2:hover, .benefits .box3:hover, .benefits .box4:hover{
		transform: none; border-radius:0px;
	}
	.benefit-title{
		font-size: 14px;
		max-width: 135px;
    	margin: 0 auto 8px;
	}	
	.page-wrapper.stickymenu .navigation.sw-megamenu .level0 > .level-top{
		 letter-spacing: 0;
    	font-size: 12px;
    	padding: 0 5px;
	}
}

@media (max-width: 767px)
{
	header.page-header{
		margin:0;
		padding: 6px 0px;
	}
	header.page-header .panel.wrapper
	{
		display:none;
	}
	.desktopview,.tabletview{display:none !important;}
	.mobileview{display:block !important;}
	footer.page-footer{    padding: 30px 0px 40px;margin-top: 10px;}
	footer.page-footer .mobileview,footer.page-footer .ftitle.last{    margin-top: 45px;}	
	footer.page-footer .mobileview{text-align: center;}
	footer.page-footer .mobileview ul{text-align:left;}
	.copyright.footerc{text-align: center;}
	footer.page-footer .ftitle{font-size:17px;}
	footer.page-footer .ftitle.last{ text-transform: none;}
	.content-title,.featureblock .content-title{font-size:28px !important;margin-bottom: 18px;}
	.brochure{
		    flex-direction: column;
    align-content: center;
    justify-content: center;
	}
	.brochure .content-title{
		text-align: center;
	}
	.brochure .imglogo{
		margin-bottom: 26px;
	}
	.brochure .grey-btn{
		    margin: 30px auto 0px;
		    float: none;
	}
	.brochure .imglogo img{
		width:200px;
	}
	.button-pink.subscribe{
		color:#fff !important;
	}
	.awards-brands, .max-newsletter, .brochure{
		    margin-top: 60px;
	}
	.awards-brands .item{margin-bottom: 50px;}
	.our-story{
		flex-direction: column;
	}
	.story-desc .sub-desc{
		margin-top: 20px;
	}
	.sub-desc .titlemain{
		margin-bottom: 14px;
	}
	.featurecategories .content-title{
		background: url(../images/prod-cat-blob.svg) no-repeat;
	    height: 50px;
	    display: inline-block;	    
		background-size: 50px;
    	padding: 5px 13px;
	}
	.featurecategories .details
	{
		padding: 10px;
		z-index: 111;
	}
	.featurecategories p{
		    width: 220px;
	}
	.featurecategories .col-md-6.position-catimg
	{
		float: right;
    	margin-top: -42px;
    	padding: 0px;
	}
	.position-catimg img{width:200px;}
	.benefits{
		    margin: 50px 0px;
	}
	.featurecategories .box{
		    padding: 20px 0px 20px 20px;
	}
	.featureblock{
		margin:20px 0px 0px 0px;
		display: block;
		height:auto;
	}
	.line{display:none;}
	.content-sub{font-size: 13px;}
	.content-right{padding-left: 15px !important}
	.featurecategories,.featureproduct-listing{
		    margin-top: 80px;
	}
	.owl-carousel .owl-item .action-button img{
		width:auto;
		margin:0 auto;
	}	
	#banner-slider-carousel .owl-nav button{
		top:unset !important;
		bottom:30px !important;
	}
	.news_bar,.news_bar a{font-size:13px;}
	.section1,.section3 .header-topicons{display: none;}
	header .nav-toggle:before{
    	font-size: 20px;
    	color: #616161;
	}
	header .logo{
		display: inline-block;
    	float: none;
    	margin: 0 auto;
    	width: 100%;
    	max-width: 100%;
	}
	header .logo img{
		margin: 0 auto;
    	width: 169px;
	}
	.header.content{
		padding-top: 0px;
	}
	header .minicart-wrapper{
	    margin-top: 10px;
	    position: absolute;
	    top: 5px;
	    right: 15px;
	    z-index: 9;
	    width:auto;
	}
	.search-toggle-icon1{
		display: inline-block !important;
    	position: absolute;
    	top: 19px;
    	left: 65px;   
    	z-index: 9; 	
	}
	header .block-search.active{
		width:100%;left:0;top:43px;
	}
	header .block-search .label:before{display:none;}
	header .minicart-wrapper .total-price.subtotal{
		    margin-left: 8px;
	}
	.block-search .search .control{
		    border-top: 0;
		    margin: 0;
    		padding: 0;    		
	}
	header .block-search .control input{
		left: 0;
		height: 80px;
		margin: 0 0;
	}
	header .block-search .search-autocomplete{top:95px;    margin: 0;}
	#search_autocomplete .amsearch-more-results .amsearch-link{background-color:#fff; }
	.nav-sections .nav-sections-item-title.active{display:none !important;}
	.nav-sections .nav-sections-item-content{margin-top:0;}
	.navigation.sw-megamenu{text-align: left;border-top: 1px solid #E0E0E0;width: 100%;    float: left;}
	.subchildmenu.col-md-0.mega-columns.columns4{
		    display: block;
	}
	.navigation .parent .level-top:after{
		    content: '\f105';
		    font-family: 'fontAwesome';
		    color:#4D4D4D;
	}
	.navigation .parent .level-top.ui-state-active:after{
		content: '\f104';
		color:#4D4D4D;
	}
	.sw-megamenu.navigation li.ui-menu-item{
		    padding: 6px 0px;
		    border-top: 1px solid #EEEEEE;
	}
	.navigation.sw-megamenu li.level0:last-child{
		border-bottom: 1px solid #EEEEEE;
	}
	.loginreg{
		margin-top: 20px;list-style: none;    padding: 0px 15px;
    	width: 100%;
    	float: left;		
	}
	.loginreg a{
		color:#4d4d4d;
		font-size:14px;
		font-family: 'Futura Bk BT Medium';
	}
	.loginreg li:first-child a:after{
		content:'/';
		padding:0 5px;
	}
	.loginreg li{display: inline-block;}
	.tradesocial{
		margin-top: 50px;
	}
	.tradesocial .trade{
		width: 100px;
		float: left;
    	padding: 10px;
	}
	.socialiconsm{
    padding-left: 0px;
    margin-bottom: 0px;
    list-style: none;
    height: 40px;
    display: flex;
    flex-direction: row;
    align-content: center;
    align-items: center;
    justify-content: flex-end;
	}
	.socialiconsm li{
		display: inline-block;
		padding: 0 10px;
    	margin-bottom: 0;
	}
	/*.nav-sections.sections{
		width: 100%;left:100%;
	}*/	
	.wishcart{
		list-style: none;		
		padding: 0 15px;
    	float: right;
    	width: auto;
	}
	.closeicon{
		padding:15px;
	}
	.closeicon img{
		width:18.67px;
	}
	.insta .content-title{
		background: url(../images/insta-blob.svg) no-repeat;
    	height: 50px;
    	display: inline-block;	
        background-size: 50px;
        padding: 4px 10px;
    	background-position: 63%;
	}
	.featurep-collection.owl-carousel .owl-item img{
		margin: 0 auto;
    	width: auto;	
	}
}