/*-- fonts css --*/
@font-face {
font-family: 'Tiempos Headline Regular';
font-style: normal;
font-weight: normal;
src: url('../fonts/tiempos-headline/TiemposHeadline-Regular.woff') format('woff');
}


@font-face {
font-family: 'Tiempos Headline Regular Italic';
font-style: normal;
font-weight: normal;
src: url('../fonts/tiempos-headline/TiemposHeadline-RegularItalic.woff') format('woff');
}


@font-face {
font-family: 'Tiempos Headline Light';
font-style: normal;
font-weight: normal;
src: url('../fonts/tiempos-headline/TiemposHeadline-Light.woff') format('woff');
}


@font-face {
font-family: 'Tiempos Headline Light Italic';
font-style: normal;
font-weight: normal;
src: url('../fonts/tiempos-headline/TiemposHeadline-LightItalic.woff') format('woff');
}


@font-face {
font-family: 'Tiempos Headline Medium';
font-style: normal;
font-weight: normal;
src: url('../fonts/tiempos-headline/TiemposHeadline-Medium.woff') format('woff');
}


@font-face {
font-family: 'Tiempos Headline Medium Italic';
font-style: normal;
font-weight: normal;
src: url('../fonts/tiempos-headline/TiemposHeadline-MediumItalic.woff') format('woff');
}


@font-face {
font-family: 'Tiempos Headline Semibold';
font-style: normal;
font-weight: normal;
src: url('../fonts/tiempos-headline/TiemposHeadline-Semibold.woff') format('woff');
}


@font-face {
font-family: 'Tiempos Headline Semibold Italic';
font-style: normal;
font-weight: normal;
src: url('../fonts/tiempos-headline/TiemposHeadline-SemiboldItalic.woff') format('woff');
}


@font-face {
font-family: 'Tiempos Headline Bold';
font-style: normal;
font-weight: normal;
src: url('../fonts/tiempos-headline/TiemposHeadline-Bold.woff') format('woff');
}


@font-face {
font-family: 'Tiempos Headline Bold Italic';
font-style: normal;
font-weight: normal;
src: url('../fonts/tiempos-headline/TiemposHeadline-BoldItalic.woff') format('woff');
}


@font-face {
font-family: 'Tiempos Headline Black';
font-style: normal;
font-weight: normal;
src: url('../fonts/tiempos-headline/TiemposHeadline-Black.woff') format('woff');
}


@font-face {
font-family: 'Tiempos Headline Black Italic';
font-style: normal;
font-weight: normal;
src: url('../fonts/tiempos-headline/TiemposHeadline-BlackItalic.woff') format('woff');
}

@font-face {
font-family: 'Futura Bk BT';
font-style: normal;
font-weight: normal;
src: url('../fonts/futura/FutuBk.woff') format('woff');
}

@font-face {
font-family: 'Futura Bk BT Italic';
font-style: normal;
font-weight: normal;
src: url('../fonts/futura/FutuBkIt.woff') format('woff');
}
@font-face {
font-family: 'Futura Bk BT Medium';
font-style: normal;
font-weight: normal;
src: url('../fonts/futura/Futura_20Medium_20BT.woff') format('woff');
}


body{
	font-family: 'Futura Bk BT' !important;
}
/*-- button a tag css --*/
.action.primary,a{
	transition: 0.3s;
}
.action.primary{
	background:#EDB6BB !important;
	font-family:'Futura Bk BT' !important;
	color: #ffffff;	
	border:0px !important;
}
.action.primary:hover{
	opacity: 0.8;
}
/*-- header footer css --*/
@media (min-width: 768px){
	body .navigation, .breadcrumbs, body .page-header .header.panel, body .header.content, body .footer.content, body .page-wrapper > .widget, body .page-wrapper > .page-bottom, body .block.category.event, body .top-container, body .page-main{
		max-width: 1264px;
	}	
	header .panel.header{
		display:none;
	}
	.header-topicons{
		width:auto;float:right;     padding: 0;    margin: 0;
	}
	.header-topicons li{display:inline-block;    padding: 0 17px;    margin-bottom: 0;}
	.header-topicons li img{ width: 18.67px;}
	header .block-search{float:left;}
	header .section1,header .section3{width:30%;float: left;}
	header .logo{width:40%;float: left;    margin-bottom: 0;}
	header .logo img{margin: 0 auto;}
	header .minicart-wrapper .action.showcart:before,.subchildmenu.col-md-0.mega-columns.columns4,header .minicart-wrapper .action.showcart.active:before
	{
		display:none;
	}
	.button-pink{
	    display: flex;
	    flex-direction: row;	    
	    width: 120px;
	    height: 40px;
	    background: #EBB4B9;
	    text-align: center;
	    align-items: center;
	    justify-content: center;	    
	    color: #4D4D4D !important;
	    font-size:14px;	    
	}
	header .header.content
	{
		padding:3px 20px 4px;
		display: flex;
    	align-items: center;		
	}
	header .minicart-wrapper .action.showcart
	{
		content:'';
		background: url(../images/shopping-bag.png) no-repeat;
    	background-size: 100%;
    	width: 18.67px;
    	height: 24px;
    	background-position: 0 5px;
	}	
	header.page-header .panel.wrapper {
	    border-bottom: 0px solid #e8e8e8;
	    background-color: #6e716e;
	    border: 0;
	    margin-bottom: 0;
	}
	
	header.page-header{
		    margin: 0px 0 0px;
		    padding-bottom: 0;
	} 
	.navigation .menu-left-block{
		    text-align: left;
	}
	.navigation .menu-left-block .titlle{
		font-size:14px;
		color: #212121;
		text-transform: uppercase;
		padding-bottom: 20px;
		font-weight: 500;
		font-family: Futura Bk BT Medium;		
	}
	.navigation .menu-left-block ul{padding: 0;}
	
	.navigation .menu-left-block ul li{padding:0px 0px 20px 0px !important;}

	.navigation .menu-left-block ul li a{padding:0 !important; font-size:14px !important;color: #424242 !important;}
	.navigation.sw-megamenu .submenu{padding:40px 8px 10px !important;margin:0 30px 0 0 !important;    border: 1px solid #EEEEEE !important;}	
	
	.navigation .menu-left-block ul.productimages li a{
		color:#000 !important;
		font-size:16px !important;
		text-transform: uppercase;
	}
	.navigation .menu-left-block ul li a:hover{
		text-decoration: none !important;
	}
	.navigation.sw-megamenu .menu-left-block ul li.viewall a
	{
		font-size: 15px !important;
		color: #F87883 !important;
	}
	.navigation.sw-megamenu .menu-left-block ul li.viewall a:after{
		content:'\f178';
		font-family: 'fontAwesome';		
	}	
	header .block-search.active{
		display:block !important;
		position: absolute;
		top:75px;
	}
	.navigation.sw-megamenu .level0 > .level-top
	{
		    color: #4D4D4D;
		    font-family: Futura Bk BT Medium;

	}
	header .amsearch-item-container.category
	{
		width:30%;
		float:left;
	}
	header .amsearch-products.product
	{
		width:70%;
		float:right;
	}	

}

.navigation.sw-megamenu
{
	    background: #fff;text-align:center;
}

.navigation.sw-megamenu .level0 a{
	font-style: normal;
    font-weight: 500;
    font-size: 14px;
    letter-spacing: 0.5px;
}
.sw-megamenu.navigation li.level0 > .level-top {
    text-transform: uppercase;
}
.news_bar
{
	background: linear-gradient(0deg, #EDB6BB, #EDB6BB), linear-gradient(0deg, #5CA16C, #5CA16C), rgba(255, 255, 255, 0.5);
    height: 38px;    
    align-items: center;
    display: flex;
    justify-content: center;
    font-size: 14px;
    color: #4D4D4D;
}
.news_bar:before{
	content:'\f05a';
	font-family: 'fontAwesome';		
	padding-right: 5px;
}
.news_bar a{
	color: rgba(77, 77, 77, 0.8);
    padding-left: 20px;
    text-transform: capitalize;	
}
.news_bar a:after{
	content:'\f178';
	font-family: 'fontAwesome';		
	padding-left: 5px;
}
header .minicart-wrapper .action.showcart .counter.qty .counter-number{
	    background: #EDB6BB;
    	height: 16px;
    	line-height: 16px;
    	min-width: 16px;
    	float: right;
    	position: absolute;
    	right: -7px;
    	top: 0;
    	border-radius: 50px;
    	font-size: 10px;
}
header .minicart-wrapper .action.showcart .counter.qty
{
	background: transparent;
}

header .minicart-wrapper .total-price.subtotal{
    margin-left: 33px;
    background: transparent;
    color: #4D4D4D;
    font-size: 14px;
}
.search-toggle-icon img{
	width:18.67px;
}

header .block-search .control input
{
	height: 50px;		
	border: 1px solid #EEEEEE !important;
	font-family: 'Futura Bk BT' !important;
}
header .block-search .action.search:before
{
	line-height: 50px;
}
header .block-search .label.active + .control input:focus{
	box-shadow: none;
}
.amsearch-form-container.-opened .input-text{	
	font-family: 'Futura Bk BT' !important;
	text-transform: uppercase;
    letter-spacing: 0.5px;	
}
.amsearch-form-container .input-text:focus{
	box-shadow: none !important	
}
.search .amsearch-loupe{
	right:10px;left:unset;
}
.amsearch-close{
	left:10px;right:unset;
}
header .block-search .search-autocomplete
{
	top:50px;
	border-top:1px solid #EEEEEE;
}
header .amsearch-item-container > .amasty-xsearch-block-header:before{
	display:none;
}
header .amsearch-item-container > .amasty-xsearch-block-header,header .amasty-xsearch-block-header{
	font-size: 14px;    
    letter-spacing: 0.04em;
    text-transform: uppercase;
    color: #212121;	
    padding: 0;
    font-family: Futura Bk BT Medium;
}

header .amsearch-item-container.category,header .amsearch-products
{
	padding:30px;
}
header .amsearch-item-container .amsearch-item{	padding: 20px 0 0;}
header .amsearch-results .amsearch-item .item-name,header .amsearch-item-container .amsearch-highlight{font-size: 14px;    color: #424242;font-weight: normal;}
header .amsearch-form-container .amsearch-results{
	flex-direction: row;
}

header .amsearch-wrapper-content > .amsearch-item:hover{
	box-shadow: none;
}
header .amsearch-results .amsearch-item:hover,header .amsearch-wrapper-content > .amsearch-item:before
{
	background-color:transparent;
}
header .amsearch-wrapper-content .amsearch-item.product-item
{
	    flex-direction: column;
	    width:50%;
	    float: left;
	    padding: 0;
}
header .amsearch-wrapper-content .amsearch-item.product-item .product-item-link{
	    color: #000000;
	    font-family: Futura Bk BT Medium;
	    text-transform: uppercase;
    	margin-bottom: 10px;
}
header .amsearch-products .amsearch-highlight{
	background-color: transparent;color:#000;padding:0;
}
header .amsearch-wrapper-inner{
	margin-top:0 !important;
}
header .search .amsearch-autocomplete-information .price
{
	font-family: Futura Bk BT Medium;
	color:#000;
}
.nav-sections.sections{
	margin-bottom: 0;
}
footer.page-footer {
    background: #EDB6BB;
    padding: 60px 0px 100px;
}
.max-width-section{
	max-width: 1280px;    
    margin: 0 auto;
}
footer.page-footer ul{
	list-style: none;
    padding: 0;
}
footer.page-footer ul li a,footer.page-footer p,footer.page-footer a{
	font-size: 14px;
	color: #4D4D4D;
}
footer.page-footer ul li a:hover{text-decoration: none;}
footer.page-footer ul li{
	margin: 20px 0 0 0px;
}
footer.page-footer .ftitle{
	font-family:Futura Bk BT Medium;font-size: 14px;text-transform: uppercase;color:#4d4d4d;letter-spacing: 0.04em;
}
footer.page-footer .ftitle.last img{
	padding-right:10px;
}
footer.page-footer p{
margin: 20px 0px;
}
.phone:before{	
	content:'\f095';
	    padding-right: 10px;
	font-family:'fontAwesome';	
}
.mailto:before{	
	content:'\f003';
	    padding-right: 10px;
	font-family:'fontAwesome';	
}
.readmore:after{
	content:'\f178';
	padding-left: 10px;
	font-family: 'fontAwesome';	
}
footer.page-footer ul.socialicons li{display:inline-block;padding:0 12px;}
footer.page-footer ul.socialicons li:first-child{padding-left:0px;}
.nopadding{padding:0;}
.copyright.footerc{
    background-color: #EDB6BB;
    color: #4D4D4D;
    font-size: 14px;
    text-align: left;
	border-top: 1px solid rgba(0, 0, 0, 0.2);  
	padding: 22px;
}
.copyright.footerc span{
	padding: 0 20px;
}

/*-- home content ---*/
body.cms-index-index .page-main{
	max-width: 100%;
	padding:0;
}
.cms-index-index #banner-slider-carousel
{
	margin-top: 0;
}
.featureblock{
	margin: 60px 0px 50px 0px;
	display: flex;
    align-items: center;
    height: 144px;    
}
.content-sub {
	color: #FF9CA5;
	font-size:14px;
	letter-spacing: 0.05em;
	text-transform: uppercase;
}
.content-title {
	font-family: Tiempos Headline Medium !important;
	font-size: 32px !important;
	color: #4D4D4D !important;
	margin-top:5px !important;
}
.content-right{
	font-size:15px;
	color:#4D4D4D;
	padding-left:40px !important;
}
.content-right a{
	color: #4D4D4D;
}
.content-right a:after{
	content:'\f178';
	font-family: 'fontAwesome';	
	padding-left: 10px;
}
.line{
	border-right: 2px solid #9E9E9E;
    height: 144px;
    margin-left: 50px;
}
.featurep-collection .product-name{
	color: #4D4D4D;
	font-size: 16px;
	font-family:Futura Bk BT Medium;
}
.featurep-collection .product-price{
	margin-top:8px;
	font-size: 15px;
	color: #616161;
	font-family:Futura Bk BT;
}
.featurep-collection .product-detail{
	margin-top: 14px;
}
.benefits{
	margin: 100px 0px;
}
.benefits img{
	height:70px;
	margin-bottom: 17px;
}
.benefit-title{
font-size: 15px;
color: #4D4D4D;
font-family:Futura Bk BT Medium;
}
.benefit-desc{
	color: rgba(0, 0, 0, 0.5);
	font-size: 13px;
	font-family: Futura Bk BT;
}
.benefits .box1,.benefits .box2,.benefits .box3{
	border-right: 1px solid #EFA8E4;
    padding: 10px;
}
.benefits .box1,.benefits .box2,.benefits .box3,.benefits .box4{ transition: transform .2s;padding: 40px 20px;}
.benefits .box1:hover,.benefits .box2:hover,.benefits .box3:hover,.benefits .box4:hover{
	background: #EDB6BB;
	transform: scale(1.1); 
	border-radius: 4px;
}
