<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
  <preference for="Magento\Customer\Controller\Address\Delete" type="Dolphin\DefaultAddress\Controller\Rewrite\Address\Delete" />
<preference for="Magento\Customer\Controller\Adminhtml\Index\Save" type="Dolphin\DefaultAddress\Controller\Adminhtml\Rewrite\Index\Save" />
</config>
