<?xml version="1.0"?>
    <config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
            xsi:noNamespaceSchemaLocation="urn:magento:framework:Acl/etc/acl.xsd">
        <preference for="Magento\Quote\Model\QuoteAddressValidator" type="Earthsquared\Customize\Model\QuoteAddressValidator" />
        <type name="Magento\Eav\Model\Entity\Collection\AbstractCollection">
    		<plugin name="find_duplicate_entry" type="Earthsquared\Customize\Plugin\Collection" sortOrder="20"/>
 		</type>
 		<preference for="Magento\CatalogSearch\Block\Result" type="Earthsquared\Customize\Block\Result" />
 		<preference for="Magento\Checkout\Controller\Cart\CouponPost" type="Earthsquared\Customize\Controller\Cart\CouponPost" />
 		<preference for="Magento\Checkout\Block\Cart\Coupon" type="Earthsquared\Customize\Block\Cart\Coupon" />
 		<preference for='Magento\Sales\Block\Order\Totals' type='Earthsquared\Customize\Block\Order\Totals'/>	
	    <type name="Magento\Quote\Model\ShippingMethodManagement">
	        <plugin name="shipping_method_management" type="Earthsquared\Customize\Plugin\Model\ShippingMethodManagement" disabled="false"/>
	    </type> 		
    </config>