<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Smartwave\Megamenu\Block\Topmenu">
        <plugin name="tunda_smartwavemegamenucache_plugin_block_topmenu" type="Tunda\SmartwaveMegamenuCache\Plugin\Block\Topmenu" sortOrder="1" />
    </type>    
</config>
