/* customer login us page */

.customer-account-login main#maincontent {    max-width: 340px;    margin-top: 35px !important;
    padding: 0;    margin: auto;}
.customer-account-login .page-title-wrapper {    display: none;}
.login-container .block.block-customer-login {    width: 100%;margin: 0;}
.block.block-customer-login .block-title {    text-align: center;    border: none;margin-bottom: 5px;}
.block.block-customer-login  strong {    font-size: 13px;    text-transform: uppercase;    font-family: Futura Bk BT Medium;    color: #4D4D4D;    letter-spacing: 0.04em;    position: relative;    margin-bottom: 25px;}
span.msg_note {    font-size: 11px;    font-family: Futura Bk BT Medium;    color: #4D4D4D;}
.block.block-customer-login input {    height: 60px;	background: #FFFFFF;padding: 20px;    border: 1px solid #E0E0E0;}
form#login-form fieldset.fieldset.login div {
    position: relative;
}
.block.block-customer-login input::placeholder { color: #9E9E9E;}
.block.block-customer-login input:-ms-input-placeholder {  color: #9E9E9E;}
.block.block-customer-login input::-ms-input-placeholder {   color: #9E9E9E;}
.login-container .fieldset>.field>.control {    width: 100% !important;}
.customer-account-login .field.password {    margin-bottom: 0;}
.customer-account-login .actions-toolbar .primary {    width: 100%;    margin-top: 20px;}
.customer-account-login .actions-toolbar .secondary { width: auto;   float: right;}
.customer-account-login a.action.remind {    font-size: 11px;    font-family: Futura Bk BT Medium; color: #4D4D4D;}
.customer-account-login .actions-toolbar .primary button {    background: #4D4D4D !important;    width: 100%;
    height: 44px;}
.block.block-customer-login {    margin-bottom: 0;}
.login-container .fieldset:after {display:none;}
.customer-account-login .block.block-new-customer {    float: left;    width: 100%;}
.block.block-new-customer p {    font-size: 14px;    font-family: Futura Bk BT Medium;    color: #4D4D4D;}
.block.block-new-customer p a {    font-size: 14px;    font-family: Futura Bk BT Medium;    color: #4D4D4D;    margin-left: 5px;}
.customer-account-login header.page-header {    background: #FAFAFA;    padding-bottom: 15px;}
.customer-account-login footer.page-footer {    display: none;}
.customer-account-login ul.footer-checkout {    display: block;    float: right;padding: 0;margin-bottom: 0;}
.customer-account-login ul.footer-checkout li a {    font-size: 14px;    color: #4D4D4D;}
.customer-account-login ul.footer-checkout li {    list-style-type: none;margin-left: 25px; display: inline-block;}
.customer-account-login header .section3 {    display: none;}
.section_phone img {    width: 18.67px;}
.section_phone {    float: right;    position: absolute;   right: 20px;}
a.backlink:before {    content: '';    background: url(../images/left-arrow.png) no-repeat;    width: 14px;
    height: 14px;    background-size: 100%;    display: inline-block;    margin-right: 5px;    background-position: 0px 2px;}
a.backlink {    font-size: 14px;    font-family: Futura Bk BT Medium;    color: #4D4D4D;}
.section_phone a.phonelink {    font-size: 14px;    font-family: Futura Bk BT Medium;    color: #4D4D4D;
    margin-left: 5px;}
/* end customer login */


/* create account */
.customer-account-create main#maincontent {    margin-top: 0;    padding: 0;    max-width: 100%;}
.customer-account-create .form.create.account {  padding: 0;}
.form_main_part {    clear: both;    max-width: 340px;    margin: 0 auto;}
.customer_account_create_top_part .customer_account_create_top_part_max {   max-width: 930px;
    padding: 3px 20px 1.42px;    margin: 0 auto;}
.customer_account_create_top_part .part1 {    display: inline-block;    margin-left: 60px;}
.customer_account_create_top_part .part1 img {    margin-right: 10px;}
.customer_account_create_top_part {    text-align: center;    padding-bottom: 20px;    margin-bottom: 50px;
    float: left;    padding-top: 20px;    width: 100%;    background: #FAFAFA;}
.customer-account-create .form.create.account {    min-width: 100%;}
.customer-account-create .page-title-wrapper {    display: none;}
.customer-account-create footer.page-footer {    display: none;}
.customer-account-create ul.footer-checkout {    display: block;    float: right;padding: 0;margin-bottom: 0;}
.customer-account-create ul.footer-checkout li a {    font-size: 14px;    color: #4D4D4D;}
.customer-account-create ul.footer-checkout li {    list-style-type: none;margin-left: 25px; display: inline-block;}
.customer-account-create  header .section3 {    display: none;}
.customer-account-create header.page-header {    background: #FAFAFA;    padding-bottom: 15px;}
.customer_account_create_top_part .item a.firest:before {content: '';    background: url(../images/worldwide.png) no-repeat;    width: 35px;    height: 35px;    background-size: 100%;    display: inline-block;float: left;
    margin-right: 15px;    background-position: 0;}
.customer_account_create_top_part .item a.second:before {content: '';    background: url(../images/art-and-design.png) no-repeat;    width: 35px;    height: 35px;    background-size: 100%;float: left;    display: inline-block;    margin-right: 15px;    background-position: 0;}
.customer_account_create_top_part .item a.third:before {content: '';    background: url(../images/smiling-girl.png) no-repeat;    width: 35px;    height: 35px;    background-size: 100%;float: left;    display: inline-block;    margin-right: 15px;    background-position: 0;}
.customer_account_create_top_part .item span{  margin-top: 5px;  font-size: 14px;    color: #4D4D4D;float: left;
    font-family: Futura Bk BT Medium;}
.customer-account-create .form.create.account h3 {   font-size: 13px;    text-transform: uppercase;
    font-family: Futura Bk BT Medium;    color: #4D4D4D;    letter-spacing: 0.04em;    border: none;
    position: relative;    text-align: center;}
.customer-account-create .form.create.account input {    height: 60px;    background: #FFFFFF;
    padding: 20px;    border: 1px solid #E0E0E0;}
.customer-account-create .form.create.account .field.field-name-firstname {    width: 161px;    float: left;}
.customer-account-create .form.create.account .field.field-name-lastname {    width: 161px;  float: right;}
.customer-account-create .form.create.account .field.choice.newsletter {    float: left;    width: 100%;}
.customer-account-create .form.create.account .field {    margin-bottom: 30px;}
.customer-account-create .form.create.account .field.choice.newsletter input#is_subscribed {    height: 20px;
    float: left;    width: 20px;    margin-top: 0;}
.customer-account-create .form.create.account fieldset {    margin-bottom: 0!important;}
.password-strength-meter {    background: none;}
.field.choice.terms input#is_terms {    height: 20px;    float: left;    width: 20px;   margin-top: 0;}
.field.choice.terms label.label {    font-size: 14px;    color: #4D4D4D;  font-family: Futura Bk BT Medium;}
.field.choice.terms label.label a {    font-size: 14px;    color: #4D4D4D;  text-decoration: underline;
    margin-left: 5px;}
.customer-account-create .form.create.account .field.choice.terms {    margin-bottom: 20px;}
.customer-account-create .form.create.account .field.choice.newsletter span {
    color: #757575;    font-size: 14px;    font-family: Futura Bk BT Medium;}
.form-create-account .fieldset.create.account:after {display:none;}
.customer-account-create .actions-toolbar .primary {    width: 100%;}
.customer-account-create .actions-toolbar button {    background: #4D4D4D !important;    width: 100% !important;
    height: 44px;    margin: 0 !important;}
.block.block-new-login {    float: left;    width: 100%;    margin-top: 30px;    margin-bottom: 0;}
.customer-account-create .actions-toolbar button span {    font-size: 15px;    font-weight: normal;
    letter-spacing: 0.04em;    font-family: Futura Bk BT Medium;}
.customer-account-create .actions-toolbar {    margin-top: 10px;}
.block.block-new-login p {    font-size: 14px;    font-family: Futura Bk BT Medium;    color: #4D4D4D;}
.block.block-new-login p a {    font-size: 14px;    font-family: Futura Bk BT Medium;    color: #4D4D4D;
    margin-left: 5px;}

@media screen and (max-width: 1260px) {	
.section_phone {    right: 15px;}
}
@media screen and (max-width: 768px) {
.customer-account-login .max-width-section {    display: grid;}
.customer-account-login .max-width-section ul.footer-checkout {    order: 1;padding-bottom: 10px;
    border-bottom: 1px solid #4D4D4D;    margin-bottom: 10px;}
.customer-account-login .max-width-section span {    order: 2;}

.customer-account-create .max-width-section {    display: grid;}
.customer-account-create .max-width-section ul.footer-checkout {    order: 1;padding-bottom: 10px;
    border-bottom: 1px solid #4D4D4D;    margin-bottom: 10px;}
.customer-account-create .max-width-section span {    order: 2;}

.customer-account-login header.page-header {    background: #fff;}
.customer-account-login a.search-toggle-icon1.mobileview {   display: none !important;}
.customer-account-login .header.content .section1 {    display: block;}
.customer-account-login span.action.nav-toggle {    display: none;}
.customer-account-login .header.content .section1 {    display: block;    width: auto;
    float: left;    position: absolute;    top: 20px;}
	
.customer-account-login main#maincontent {    max-width: 100%;    margin-top: 35px !important;
    padding-left: 15px;    margin: initial;    padding-right: 15px;}
	
.customer-account-create header.page-header {    background: #fff;}
.section_phone {    display: none;}
.customer-account-create a.search-toggle-icon1.mobileview {   display: none !important;}
.customer-account-create .header.content .section1 {    display: block;}
.customer-account-create span.action.nav-toggle {    display: none;}
.customer-account-create .header.content .section1 {    display: block;    width: auto;
    float: left;    position: absolute;    top: 20px;}
}

@media screen and (max-width: 339px) {	
.form_main_part {    clear: both;    max-width: 320px;    margin: 0 auto;}
.customer-account-create .form.create.account {    min-width: 100%;    padding-left: 15px;  padding-right: 15px;}
.block.block-new-login {    margin-top: 0;    margin-bottom: 0;}
.customer-account-create .form.create.account .field {    margin-bottom: 20px;}
.customer-account-create .form.create.account .field.field-name-lastname {    width: 138px;    float: right;}
.customer-account-create .form.create.account .field.field-name-firstname {    width: 138px;    float: left;}
}	

/* end create account */

/* my account page */

.block-collapsible-nav .content {    background: #FFFFFF;padding: 0;    box-shadow: -2px 2px 8px rgba(0, 0, 0, 0.08);}
.block-collapsible-nav .content li.nav.item.current {    background: #EDB6BB;}
.block-collapsible-nav .item.current a, .block-collapsible-nav .item.current>strong {    border: none;
    font-family: Futura Bk BT;font-weight: normal;    font-size: 14px;    color: #4D4D4D;}
.block-collapsible-nav .content li.nav.item a {    font-family: Futura Bk BT;    font-size: 14px;
    color: #4D4D4D;}
.block-collapsible-nav .content li.nav.item {    height: 56px;    line-height: 46px;    margin: 0;}
.account .table-wrapper thead {    background: #FCFCFC;    border: 1px solid #E0E0E0;}
.account .table-wrapper table#my-orders-table {    border: 1px solid #E0E0E0;    font-family: Futura Bk BT;
    font-size: 12px;    color: #4D4D4D;}
.account .table-wrapper thead tr th {    border: none;    font-family: Futura Bk BT;border-right: 1px solid #E0E0E0;
    font-size: 12px;    font-weight: normal;    color: #616161;}
.account .data.table .col.actions a {    font-family: Futura Bk BT;    font-size: 12px; color: #4D4D4D !important;}
.account .table-wrapper tbody tr td {    border-right: 1px solid #E0E0E0;}

.account.page-layout-2columns-left .column.main {    position: relative;}
.order-products-toolbar.toolbar.bottom {    position: absolute;    top: 0;    left: 14%;}
.order-products-toolbar.toolbar.bottom .limiter {    display: none;}
.order-products-toolbar.toolbar.bottom span.toolbar-number:before {    content: "(";    float: left;}
.order-products-toolbar.toolbar.bottom span.toolbar-number:after {    content: ")";    float: right;
    margin-left: 2px;}
.account .page-main .page-title-wrapper .page-title {    margin-bottom: 30px;}
span.toolbar-number {    font-family: Futura Bk BT;    font-weight: normal;    font-size: 14px;
    color: #4D4D4D;}
.account .data.table .col.actions .action:after { display:none; }
.account .data.table .col.actions a.action.order {
    display: none;
}
	
/* end my account page */


/* wishlist page */
.wishlist-index-index .products-grid .product-item {    width: calc(33.33% - 23px) !important;
    margin-right: 34px !important;    padding: 0 !important;position: relative;  margin-left: 0 !important;}
.wishlist-index-index .products-grid .product-item:nth-child(3n) {    margin-right: 0 !important;}
.wishlist-index-index .products-grid .product-item span.product-image-container {  width: 100% !important;}
.wishlist-index-index .products-grid .product-item span.product-image-wrapper img { margin: 0;width: 100%;}
.products-grid.wishlist .product-item .fieldset .field.qty {    display: none !important;}
.products-grid.wishlist .product-item-info:hover .product-item-inner {    padding: 0;    margin: 0;
    border: none;    position: initial;    box-shadow: none;	float: left;    width: 100%;}
.products-grid .product-item-info:hover, .products-grid .product-item-info.active {    box-shadow: none;
    border: none;    margin: 0;    padding: 0;width: unset;    z-index: auto;}
.abs-visually-hidden-desktop-s, .products-grid .product-item-info:not(:hover):not(.active) .product-item-inner {
    overflow: visible;    clip: unset;    border: 0;    position: unset;    float: left;	height: unset;
    box-shadow: unset;    width: 100%;    padding: 0;}
.products-grid.wishlist .product-item .box-tocart .stock {    display: none;}
.products-grid.wishlist .product-item-actions {    position: absolute;    top: 0;    z-index: 9999;  right: 0;}
.products-grid.wishlist .product-item .box-tocart .tocart {    width: 34px !important;    position: relative;
    content: '';    background: url(../images/shopping-bag.png) no-repeat !important;    background-size: 13px !important;    background-position: 10px 10px !important;    background-color: rgba(255, 255, 255, 0.9) !important;    height: 32px;    display: inline-block;    float: left;	display: none;margin-right: 15px;}
.wishlist-index-index .products-grid .product-item:hover button {    display: block !important;}
.products-grid.wishlist .product-item .box-tocart .tocart span {    position: absolute;    right: 34px;
    background: rgba(255, 255, 255, 0.9) !important;    color: #000;    padding: 9.5px 10px;    top: 0;
	line-height: 100%;	display: none;    font-size: 13px;    padding-right: 5px;}
.products-grid.wishlist .product-item .box-tocart .tocart:hover span {    display: block !important;}
.wishlist-index-index .column.main .toolbar.wishlist-toolbar:nth-child(4n) {    display: none;}
.wishlist-index-index .actions-toolbar button {    background: #4D4D4D !important;    color: #fff;    border-color: #4D4D4D !important;    box-shadow: none;}
.toolbar.wishlist-toolbar.pages .item {    margin: 0 8px 0 16px;    font-size: 15px;}
.toolbar.wishlist-toolbar .pages strong.page {    color: #fff;    width: 30px;    height: 30px;    font-size: 15px;
    border-radius: 2px;    font-weight: normal;    background: #757575;    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.12);}
.toolbar.wishlist-toolbar .pages a.page:hover {    background: #eee;}
.toolbar.wishlist-toolbar .pages a.page {    background: #F5F5F5;    color: #000;    width: 30px; border-radius: 0;
    height: 30px;    font-size: 15px;}
.toolbar.wishlist-toolbar .pages .action.next:after {    content: '';  background: url(../images/right-arrow.png) no-repeat;    width: 14px;    height: 14px;    background-size: 100%;    display: inline-block;    background-position: 0 2px;}
.toolbar.wishlist-toolbar .pages .action.previous:after {    content: '';    background: url(../images/back.png) no-repeat;    width: 14px;    height: 14px;    background-size: 100%;    display: inline-block;
    background-position: 0 2px;}

@media screen and (max-width: 770px) {	
.products-grid.wishlist .product-item-photo {    width: 100%;}
.products-grid.wishlist .product-item .price-box {    margin-left: 0 !important;}
}	
@media screen and (max-width: 576px) {	
.wishlist-index-index .products-grid .product-item {    border-bottom: 0;}
.wishlist-index-index .products-grid .product-item span.product-image-container {    width: 100% !important;
    max-width: 100%;}
.wishlist-index-index  .block.block-collapsible-nav {    top: 0;}
.wishlist-index-index  .toolbar .pages {    position: relative;}
.products-grid.wishlist .product-item-name{    margin-left: 0;}

}
@media screen and (max-width: 420px) {	
.wishlist-index-index .products-grid .product-item {    width: calc(50% - 23px) !important;}
.wishlist-index-index .products-grid .product-item:nth-child(2n) { margin-right: 0 !important;}
.wishlist-index-index .products-grid .product-item:nth-child(2n+1) {    margin-right: 34px !important;}
}
/* end wishlist page */

/* account information */

.form-edit-account legend.legend span {    font-size: 13px !important;    text-transform: uppercase;
    font-family: Futura Bk BT Medium;    color: #4D4D4D;    letter-spacing: 0.04em;    border: none;
    position: relative;    text-align: center;}
fieldset.password {    clear: both;}
.form-edit-account legend.legend {    padding: 0;    border: none;}
.form-edit-account input {    height: 60px;    background: #FFFFFF;    padding: 20px;  border: 1px solid #E0E0E0;}
.form-edit-account fieldset.fieldset.info {  margin-bottom: 30px;  width: 100%;}
.form-edit-account .field {    width: 447px;    float: left;margin-bottom: 30px;}
fieldset.password legend.legend {    margin-bottom: 0;    text-decoration: underline;}
fieldset.password .field { position: relative;   margin-bottom: 30px;    clear: both;}
.form-edit-account .field.field-name-lastname {    width: 447px;    float: left;    margin-left: 20px;}
.form-edit-account .field.field-name-firstname {    width: 447px;    float: left;}
.form-edit-account fieldset.password .field.confirmation.password {    float: left; clear: none; margin-left: 20px;}
.form-edit-account fieldset.password .field.new.password {    float: left;}
.form-edit-account .primary {    width: 447px;}
.form-edit-account .actions-toolbar button.action.save.primary { background: #4D4D4D !important;   height: 44px;width: 100%;    margin: 0 !important;}

@media screen and (max-width: 1247px) {	
.form-edit-account .field.field-name-firstname {    width: 100%;    float: left;}
.form-edit-account fieldset.password .field.confirmation.password {    margin-left: 0;}
.form-edit-account .primary {    width: 100%;}
.form-edit-account .field.field-name-lastname {    width: 100%;    float: left;    margin-left: 0;}
.form-edit-account .field {    width: 100%;}
}
@media screen and (max-width: 768px) {	
.block.block-collapsible-nav {
    top: 0;
}
}
/* end account information */

/* address book */
.block.block-addresses-default .box {    width: 216px !important;    float: left !important;
    margin-right: 20px;    background: #FAFAFA;    border: 1px solid #4D4D4D;    padding: 10px;}
.block.block-addresses-default .box strong.box-title span {    background: #4D4D4D;    padding: 4px 6px;
    color: #fff;    font-family: Futura Bk BT;    font-size: 11px !important;    letter-spacing: 1px;
    font-weight: normal;}
.block.block-addresses-default .box address {    font-family: Futura Bk BT;    font-size: 14px !important;
    color: #757575;}
.block.block-addresses-default .box a.action.edit span {    font-family: Futura Bk BT;   font-size: 14px !important;
    color: #757575;}
.block.block-addresses-default .box.new-address {    clear: none !important;    height: 191px;
    text-align: center;padding-top: 60px;}
.block.block-addresses-default .box.new-address span {    width: 100%;    float: left;}
.block.block-addresses-default .box.new-address span.plus_sign {    color: #F87883;}
.form-address-edit .actions-toolbar {    float: left;    width: 100%;}
.form-address-edit input { height: 60px;    background: #FFFFFF;    padding: 20px;  border: 1px solid #E0E0E0;}
.form-address-edit select { height: 60px;    background: #FFFFFF;    padding: 20px;  border: 1px solid #E0E0E0;}
.form-address-edit .field {    width: 383px;    float: left;    margin-right: 20px;margin-bottom: 35px;}
.form-address-edit .field.street {    width: 784px;    float: left;}
.form-address-edit .field.street input#street_2 {    width: 383px;    float: right;}
.form-address-edit .field.street input#street_1 {    width: 383px;    float: left;}
.form-address-edit .field.company {    width: 784px;}
.form-address-edit fieldset.fieldset {    width: 100%;    float: left;margin-bottom: 0;}
.form-address-edit .field.choice.set.billing {    clear: both;}
.form-address-edit .field.choice input {    height: auto;    float: left;}
.form-address-edit  .field.choice span {    font-family: Futura Bk BT;  font-size: 14px !important;}
.form-address-edit .primary {    width: 383px;}
.form-address-edit button.action.primary span {    font-size: 12px !important;}
.form-address-edit button.action.primary {    background: #4D4D4D !important;    width: 100%;    height: 44px;line-height: 15px !important;}
.message.info {    float: left;    width: 100%;}
.box.new-address {    cursor: pointer;}

@media screen and (max-width: 1247px) {	
.form-address-edit {    float: left;    width: 100%;}
}

@media screen and (max-width: 1200px) {	
.form-address-edit .field.company {    width: 90%;}
.form-address-edit .field.street {    width: 90%;    float: left;}
.form-address-edit .field.street input#street_1 {    width: 100%;    float: left;    margin-bottom: 35px;}
.form-address-edit .field.street input#street_2 {   width: 100%;    float: left;}
.form-address-edit .field {    width: 90%;    float: left;    margin-right: 0;  margin-bottom: 35px !important;}
}
@media screen and (max-width: 900px) {	
.block.block-addresses-default .box {    margin-bottom: 20px;}
}
@media screen and (max-width: 767px) {
.form-address-edit .field {    width: 100%; margin-bottom: 20px !important; }
.form-address-edit .field.company {    width: 100%;}
.block.block-addresses-default .box {    width: 100%!important;    margin-right: 0;  margin-bottom: 20px !important;}
.form-address-edit .field.street input#street_1 {    margin-bottom: 20px;}
.form-address-edit .primary {    width: 100%;}
.form-address-edit .field.street {    width: 100%;    float: left;}
}
/* end address book */

/* forgot password */

.customer-account-forgotpassword footer.page-footer {    display: none;}
.customer-account-forgotpassword ul.footer-checkout {    display: block;    float: right;padding: 0;margin-bottom: 0;}
.customer-account-forgotpassword ul.footer-checkout li a {    font-size: 14px;    color: #4D4D4D;}
.customer-account-forgotpassword ul.footer-checkout li {    list-style-type: none;margin-left: 25px; display: inline-block;}
.customer-account-forgotpassword  header .section3 {    display: none;}
.customer-account-forgotpassword header.page-header {    background: #FAFAFA;    padding-bottom: 15px;}

.customer-account-forgotpassword h1.page-title {    margin-bottom: 0;}
.customer-account-forgotpassword .page-title-wrapper span.base {    font-size: 13px !important;    text-transform: uppercase;    font-family: Futura Bk BT Medium;    color: #4D4D4D;    letter-spacing: 0.04em;}
.customer-account-forgotpassword main#maincontent {    max-width: 340px;    margin-top: 40px;}
.customer-account-forgotpassword form {    min-width: 100% !important;}
.customer-account-forgotpassword p a {    color: #4D4D4D;    font-family: Futura Bk BT Medium;}
.customer-account-forgotpassword form input {    height: 60px;}
.customer-account-forgotpassword .primary {    width: 100%;}
.customer-account-forgotpassword fieldset.fieldset {    margin-bottom: 25px;}
.customer-account-forgotpassword p {    float: left;    width: 100%;    margin-top: 20px;}
.customer-account-forgotpassword .primary button {    margin: 0;    width: 100% !important;    height: 40px;
    background: #4D4D4D !important;}
.form.password.forget .fieldset:after {display:none;}

@media screen and (max-width: 768px) {	
.customer-account-forgotpassword .max-width-section {    display: grid;}
.customer-account-forgotpassword .max-width-section ul.footer-checkout {    order: 1;padding-bottom: 10px;
    border-bottom: 1px solid #4D4D4D;    margin-bottom: 10px;}
.customer-account-forgotpassword .max-width-section span {    order: 2;}

.customer-account-forgotpassword header.page-header {    background: #fff;}
.customer-account-forgotpassword a.search-toggle-icon1.mobileview {   display: none !important;}
.customer-account-forgotpassword .header.content .section1 {    display: block;}
.customer-account-forgotpassword span.action.nav-toggle {    display: none;}
.customer-account-forgotpassword .header.content .section1 {    display: block;    width: auto;
    float: left;    position: absolute;    top: 20px;}	
.customer-account-forgotpassword main#maincontent {    max-width: 100%;  padding-left: 15px;    margin: initial;    padding-right: 15px;}
}
/* end forgot password */

/* My Dashboard page */

.mydeshboard_main {    float: left;    width: 100%;}
.mydeshboard_main ul {    padding: 0;}
.mydeshboard_main li {    background: #FAFAFA;    width: calc(33.33% - 40px);    float: left;
    padding: 45px 20px;    height: 230px;    text-align: center;    margin-right: 40px;
    list-style-type: none;    margin-bottom: 40px !important;}
.mydeshboard_main li h3 {    font-family: Futura Bk BT;    font-size: 15px;    color: #4D4D4D;}
.mydeshboard_main li a {    float: left;    width: 100%;    font-family: Futura Bk BT;    font-size: 14px;
    color: #4D4D4D;}
.form-newsletter-manage input {    float: left;}

@media screen and (max-width: 900px) {	
.mydeshboard_main li {    width: calc(50% - 40px); margin-right: 20px;    margin-left: 20px;}
}

@media screen and (max-width: 420px) {	
.mydeshboard_main li {    width: 100%; margin-right: 0;    margin-left: 0;}
}
/* end My Dashboard page */
