/* customer login us page */

.customer-account-login main#maincontent {    max-width: 340px;margin-top: 35px;padding: 0;}
.customer-account-login .page-title-wrapper {    display: none;}
.login-container .block.block-customer-login {    width: 100%;margin: 0;}
.block.block-customer-login .block-title {    text-align: center;    border: none;margin-bottom: 5px;}
.block.block-customer-login  strong {    font-size: 13px;    text-transform: uppercase;    font-family: Futura Bk BT Medium;    color: #4D4D4D;    letter-spacing: 0.04em;    position: relative;    margin-bottom: 25px;}
span.msg_note {    font-size: 11px;    font-family: Futura Bk BT Medium;    color: #4D4D4D;}
.block.block-customer-login input {    height: 60px;	background: #FFFFFF;padding: 20px;    border: 1px solid #E0E0E0;}
.block.block-customer-login input::placeholder { color: #9E9E9E;}
.block.block-customer-login input:-ms-input-placeholder {  color: #9E9E9E;}
.block.block-customer-login input::-ms-input-placeholder {   color: #9E9E9E;}
.login-container .fieldset>.field>.control {    width: 100% !important;}
.customer-account-login .field.password {    margin-bottom: 0;}
.customer-account-login .actions-toolbar .primary {    width: 100%;    margin-top: 20px;}
.customer-account-login .actions-toolbar .secondary {    float: right;}
.customer-account-login a.action.remind {    font-size: 11px;    font-family: Futura Bk BT Medium; color: #4D4D4D;}
.customer-account-login .actions-toolbar .primary button {    background: #4D4D4D !important;    width: 100%;
    height: 44px;}
.block.block-customer-login {    margin-bottom: 0;}
.login-container .fieldset:after {display:none;}
.customer-account-login .block.block-new-customer {    float: left;    width: 100%;}
.block.block-new-customer p {    font-size: 14px;    font-family: Futura Bk BT Medium;    color: #4D4D4D;}
.block.block-new-customer p a {    font-size: 14px;    font-family: Futura Bk BT Medium;    color: #4D4D4D;    margin-left: 5px;}
.customer-account-login footer.page-footer {    display: none;}
.customer-account-login ul.footer-checkout {    display: block;    float: right;padding: 0;margin-bottom: 0;}
.customer-account-login ul.footer-checkout li a {    font-size: 14px;    color: #4D4D4D;}
.customer-account-login ul.footer-checkout li {    list-style-type: none;margin-left: 25px; display: inline-block;}
.customer-account-login header .section3 {    display: none;}
.section_phone {    float: right;    position: absolute;    right: 0;}
a.backlink:before {    content: '';    background: url(../images/left-arrow.png) no-repeat;    width: 14px;
    height: 14px;    background-size: 100%;    display: inline-block;    margin-right: 5px;    background-position: 0px 2px;}
a.backlink {    font-size: 14px;    font-family: Futura Bk BT Medium;    color: #4D4D4D;}
.section_phone a.phonelink {    font-size: 14px;    font-family: Futura Bk BT Medium;    color: #4D4D4D;
    margin-left: 5px;}
/* end customer login */


/* create account */
.customer-account-create main#maincontent {    max-width: 340px;margin-top: 35px;padding: 0;}
.customer-account-create .form.create.account {    min-width: 100%;}
.customer-account-create .page-title-wrapper {    display: none;}
.customer-account-create footer.page-footer {    display: none;}
.customer-account-create ul.footer-checkout {    display: block;    float: right;padding: 0;margin-bottom: 0;}
.customer-account-create ul.footer-checkout li a {    font-size: 14px;    color: #4D4D4D;}
.customer-account-create ul.footer-checkout li {    list-style-type: none;margin-left: 25px; display: inline-block;}
.customer-account-create  header .section3 {    display: none;}
/* end create account */
