<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">

    <type name="Magento\Framework\View\Element\Html\Links">
        <plugin sortOrder="1" name="dolphinCustomerAccountLinksManagerLinks"
                type="Dolphin\CustomerAccountLinksManager\Plugin\View\Element\Html\LinksPlugin"/>
    </type>
	
	   <preference for="Magento\Customer\Controller\Account\Index" type="Dolphin\CustomerAccountLinksManager\Controller\Account\ExtendIndex" /> 

	   
</config>